@import '../base/color.less';

// 主界面框样式
.frame-view {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 50px 0px 0px 0px;
    overflow: hidden;
    flex-grow: 1;

    >div {
        padding: 0;
        margin: 0;
    }

    .keyboard-none {
        display: none;
    }

    .top-segment {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        top: 0;
        left: 0;
        right: 0px;
        height: 50px;
        z-index: 10;
    }

    .bottom-segment {
        position: fixed;
        top: auto;
        bottom: 0px;
        width: 100%;
        height: 36px;
        background-color: @background-menu;
    }

    // 右侧菜单
    .right-segment {
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        top: 75px;
        right: 10px;
        width: auto;
        height: calc(~"100% - 72px");
        z-index: 10;
    }

    // 右侧菜单展开
    .right-segment.open {
        top: 46px;
        width: 100%;
        height: calc(~"100% - 46px");
        background-color: rgba(0, 0, 0, 0.55);

        .rightmenu {
            width: auto !important;
        }

        .rightoper-menu.menu {
            padding-top: 29px;
            height: calc(~"100% - 61px");
        }
    }

    .rightmenu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition-duration: .2s;
        transition-property: width;
        height: 100%;

        >div {
            flex-shrink: 0;
        }

        .rightoper-children {
            height: calc(~"100% - 36px");
            background-color: @background-active;
            border: none;
            box-shadow: 0;
            padding: 5px 0 5px 5px;
        }

        .rightoper-menu>.top-logo,
        .rightoper-menu>.menu-center {
            padding: 0px 4px;
            background-color: @background-menu;
        }
    }

    .children-menu-segment {
        position: fixed;
        height: calc(~"100% - 75px");
        top: 80px;
        left: 56px;
    }

    .breadcrumb-segment {
        position: fixed;
        background-color: @background-active !important;
        top: 46px;
        left: 56px;
        right: 10px;
        //padding: 7.5px 0 7.5px 10px;
        padding: 6.2px 0 6.3px 10px;
        margin: 0;
        z-index: 10;

        .breadcrumb-segment-help {
            float: right;
            width: 60px;
            text-align: center;
            height: 20px;
            line-height: 30px;
        }
    }

    >.view {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border: 0;
        min-height: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;

        .formgroup>.ui.basic.segment {
            display: inline-block;
            width: 50%;
        }

        .formgroup .ui.basic.segment:nth-child(odd) {
            padding-right: 3px !important;
        }

        .formgroup .ui.basic.segment:nth-child(even) {
            padding-left: 3px !important;
        }

        .formgroup-flex {
            display: flex;

            >.left {
                padding-right: 3px !important;
            }

            >.right {
                padding-left: 3px !important;
            }
        }
    }

    .ui .ui.form .field .error-component {

        input,
        div,
        select {
            background-color: @background-error !important;
        }
    }

    @media (min-width:1281px) {
        >.view {
            padding: 0 58px 0 8px;
            width: 100%;

            &.list {
                padding: 0 58px 0 160px;
            }

            .basic {
                margin-top: 0;
                margin-bottom: 6px;
            }

            .rightmenu {
                width: 62px;
            }
        }
    }

    @media (max-width:1280px) {
        >.view {
            padding: 0 49px 0 8px;
            width: 100%;

            &.list {
                padding: 0 49px 0 160px;
            }

            .basic {
                margin-top: 0;
                margin-bottom: 6px;
            }

            .rightmenu {
                width: 40px;
            }
        }
    }
}