/*--------皮肤颜色 根据不同版本更改 开始----------*/

/*pos定义的颜色*/
//桌台颜色 空桌
@block_stus_free:#DDD;
//桌台颜色 占用
@block_stus_occupy:#e5ec80;
//右侧按钮颜色
@posBtnColor:#e2e2e2;

//上部和底部导航文字字体颜色
@topBottom_font:#dbdbdb;
//上部和底部导航文字字体颜色 点击颜色
@topBottom_font_active:#FFFFFF;










//最低层背景色
@background-active: #FFF;
// 正常交互域前景色
@color-interaction-normal: #000000;
// 正常交互域背景色
@background-interaction-normal: #FFFFFF;
// 正常边框颜色
@border-normal: #9fa6b3;
// 禁用边框颜色
@border-disabled: #9fa6b3;
// 禁用交互域背景色
@background-interaction-disabled: #f1f3f6;

/*-----------------------------------顶部导航菜单-----------------------------------*/
//顶部导航菜单 背景色
@topmenu-background:#FFFFFF;
//顶部导航菜单颜色 [激活,悬浮,边框]
@topmenu-active:#333;
//顶部导航菜单边框激活上颜色
@topmenu-border-active:#f9833a;
//顶部导航菜单激活背景颜色
@topmenu-background-active:#dbdfe1;
//顶部导航菜关闭按钮
@topmenu-btn-active:#f9833a;
/*-----------------------------------左侧菜单-----------------------------------*/
//左侧菜单背景色
@background-menu: #243E58;
//左侧菜单鼠标移入左边颜色
@menu-left-border: #f9833a;
//左侧展开菜单背景色
@background-unfold-menu: #505a66;
//左侧展开菜单字体色
@color-menu-font: #bdc5ce;
//左侧菜单鼠标悬停背景色
@background-menu-mouse-fixed: #748293;
//左侧菜单分割线颜色
@color-menu-divider: #697686;

//左侧菜单背景色
@systemTopComColor_1: #243E58;

//左侧菜单背景色
@systemTopComColor_2: #1a82dc;
/*-----------------------------------table-----------------------------------*/
// table标题行背景色
@background-table-head: #cdd2d4;
//table鼠标划过颜色
@table-hover-color: #ECEFF2;
//table选中并鼠标划过颜色
@table-checkd-hover-color: #bdd2f3; //ok
//table 选中颜色
@table-checked-color: #D5E5FE;

/*-----------------------------------button-----------------------------------*/
// 按钮、边框颜色、鼠标移入边框颜色
@color-button: #1D6AF4;
// 按钮悬浮颜色
@color-button-fixed: #3398FF;
// 按钮选中颜色
@color-button-active: #1652BE;
// 按钮焦点颜色
@color-button-focus: #1D6AF4;
//字体皮肤颜色
@color-font-color-skin: #1D6AF4;


/*-----------------------------------subWindow-----------------------------------*/
//弹出窗标题背景色
@sub-window-title:#90bdeb;

/*-----------------------------------登陆页-----------------------------------*/


/*-----------------------------------首页-----------------------------------*/
//字体皮肤颜色
@color-font-color-skin: #f9833a;
/*-----------------------------------收银-----------------------------------*/
//左侧行选中颜色
@cashier-table-selected:#f9833a;
//左侧鼠标经过删除图标颜色
@charset-table-delbtn:#f9833a;
//选中行下的删除按钮颜色
@charset-table-button-active: #FFFFFF;

/*--------皮肤颜色 根据不同版本更改 结束----------*/


/*===========替换变量  开始=============*/
// 按钮、边框颜色、鼠标移入边框颜色
@color-button-np: #f9833a;
// 按钮悬浮颜色
@color-button-fixed-np: #f46c18;
// 按钮选中颜色
@color-button-active-np: #d45308;
// 按钮焦点颜色
@color-button-focus-np: #f66511;
// table标题行背景色
@background-table-head-np: #cdd2d4;
//table鼠标划过颜色
@table-hover-color-np: #ECEFF2;
//table选中并鼠标划过颜色
@table-checkd-hover-color-np: #bdd2f3; //ok
//table 选中颜色
@table-checked-color-np: #D5E5FE;
//最低层背景色
@background-active-np: #dbdfe1;
/*===========替换变量  结束=============*/




// 正常描述文字前景色
@color-label-normal: #333;
// 错误边框颜色
@border-error: #B34D4D;
// 错误背景色
@background-error: #FF0000;
// 错误前景色
@color-error: #fff;
//选中蓝色
@color-selected-blue: #2185d0;
// 正常交互域前景色副色
@color-interaction-normal-deputy: #ccc;
//功能按钮背景色
@bgcolor-button-feature: #b2b8c2;
//table边框颜色
@border-table: #e2e4e8;
//右侧操作按钮背景色1
@color-rightoper-1: #1bd53a;
//右侧操作按钮背景色2
@color-rightoper-2: #0079fb;
//快捷键文字颜色
@color-keyboard: #268cf9;
//点击plugin按钮颜色
@color-button-keyboard-active: #f56f0b;
//右侧操作按钮背景色3
@color-rightoper-3: #7d8c9e;
//客史操作域左侧和右侧标题字体颜色
@color-title: #7d8c9e;
//透明背景色
@bgcolor-transparent: transparent;
//收银余额颜色
@color-red: #ff3f39;
//收银余额颜色
@color-f0f3f7: #f0f3f7;
//收银包内容背景色
@color-eceff2: #eceff2;
//包内的行 前边的原点
@color-b1b9c8: #b1b9c8;

@color-button-shortcuts: #F9FAFC;
//特殊付款背景色
@bgcolor-specialpay: #f2f6f7;
//特殊付款添加背景色
@bgcolor-specialpay-add: #feefe6;
//删除线颜色
@linethrough: #7a7e87;
//主账颜色
@blue: #0000ff;
//home页标题框背景
@bgcolor-home-header: #F7F9F9;
//table行选颜色
@table-row-selected: #918F8F;
//rightmenu预授权颜色
@rightmenu-preauthorization-bdcolor: #cfd3d4;

@rightmenu-preauthorization-PUA-bgcolor: #f4f6f7;

@rightmenu-preauthorization-ACP-bgcolor: #85bf05;

@rightmenu-preauthorization-AXL-bgcolor: #d2dbe6;

@rightmenu-preauthorization-ACP-title-bgcolor: #d9e3d1;
//pms首页收入文字颜色
@pms-anticipated-revenue-font: #6292E2;
//pms首页预计入住率文字颜色
@pms-expected-rentals-font: #FE8E4A;
//pms首页星期文字颜色
@pms-week-font: #9B9B9B;
//pms首页会员数量字体颜色
@pms-vip-font: #F9C169;
//pms集团首页几个标题描述的字体颜色
@pms-title-des: #797979;
//pms首页小标题颜色
@pms-second-title-des: #999999;
//pms首页竖向分割线颜色
@pms-line-color: #D8DCDD;
//统计数字颜色
@pms-count-font: #626262;
//pms rms 预计字体颜色
@pms-expect-font: #d0d0d0;
//@pms首页小按钮正常颜色
@pms-button-gray: #CAD0DB;
//@pms首页小按钮hover颜色
@pms-button-gray-hover: #818181;
//首页最近七天31天按钮背景色
@pms-button-bg: #fff;
//首页最近七天31天按钮边框
@pms-button-border: #e2e8f5;
//首页最近七天31天按钮字体颜色
@pms-button-font: #f9833a;
//首页最近七天31天按钮字悬浮背景色
@pms-button-hover-bg: #f6f8fa;
//首页单店出租率线颜色
@pms-rentals-line: #fe680c;
//首页可穿透hover颜色
@pms-penetration-hover-color: #2D67C7;
//878787
@systemaccount: #878787;
//#f7834
@border-radius: #f78344;
//#1b1b1b
@systemaccount-opne: #1b1b1b;
//特殊付款
@bgcolor-specialpay-title: #f6f8fa;
//特殊付款
@bgcolor-specialpay-not-btn: #f8fafa;
//特殊付款
@bgcolor-specialpay-show-btn: #fff1e9;
//管控颜色
//分割线
@border-divider: #dce0e1;
//梯度色
@bgcolor-gradient-normal: #fcecdc;
//高亮
@bgcolor-gradient-depper: #ffccac;
//操作底色
@bgcolor-gradient-depst: #fdab79;
//
@border-divider-detail: #fddfc9;
//
@bgcolor-gradient-not-normal: #edecea;
//
@bgcolor-gradient-not-depper: #d5d4d2;

@border-divider-not-detail: #dddcda;

@border-divider-not-font: #ababab;

@gradient-button: #f8f8f8;

@gradient-button-border: #dee2e3;

@border-custom-card: #a3b4c3;

@bgcolor-gradient-fill: #fff9ec;

@bgcolor-gradient-not-fill: #c5c5c5;

@border-gradient-stroke: #c1c4c5;

@border-gradient-not-stroke: #e7e6e4;

@bg-role-content: #ecf0f1;

@border-role-divider: #e1e6eb;

@contorl-color: #34393e;

@bgcolor-contorl-selected: #eef2f3;

@bgcolor-contorl-not-stroke: #e3e2e0;

@border-contorl-selected: #e4dcd3;

//合同文字颜色
@contract-text: #888888;

//渠道房态-售完背景色
@channel-room-sell-out: #FFA2A1;
//渠道房态-关房背景色
@channel-room-close-room: #DCE0E1;
//渠道房态  同步背景色
@channel-room-sync: #F1F3F6;
//渠道房态  列表弹出背景色
@channel-room-popup-btn-bg: #ECEDEB;
//渠道房态  列表弹出文字颜色色
@channel-room-popup-btn: #999999;
//早餐使用房含按钮背景色
@use-packages-btn-bg: #14BE1C;
//早餐使用房含按钮背景色
@use-packages-btn-hover: #11a618;
//早餐可点击标识颜色
@breakfast-btn-sign: #9933FF;
//早餐日历选择按钮背景色
@breakfast-left-right-btn: #B3BAC7;
@breakfast-left-right-btn-hover: #9fa5b0;
//早餐餐点信息背景色
@breadfast-dinner-bg: #E1E5E6;
//a标签字体颜色
@font-color-a: #4183c4;
@breadfast-no-contain: #F51021;
//深蓝色背景
@bgcolor-blue: #0066cc;
//项目中存在子项目点的颜色
@dot-has-item-color: #FD5C5C;
//pms首页星期背景颜色
@bgcolor-gray: #F4F7F9;
//首页右侧鼠标悬浮颜色
@right-view-hover-color: #EAF6FF;

//夜审相关颜色
//夜审进度条背景色
@night-audit-progress-bg: #ecf0f5;
//夜审进度条当前进度颜色
@night-audit-progress: #f9833a;

//安排相关颜色
@arrange-effective-bg: #fef7f3;

//合住
//一人付没有选中按钮背景色
@single-pay-button-no-check: #F0F3F7;


//checkbox 半选中状态悬浮边框和字体颜色
@checkbox-semi-selected-hover: #F9833A;

//个人客史黑名单下方边框颜色
@border-personal-history-gray: #DDDDDD;
@border-personal-history-red: #FA985A;
//个人客史黑名单背景色
@blaklist-bg-color: #FFD9BA;
//个人客史黑名单文字颜色
@blaklist-font-color: #6D6B6A;
//个人客史喜好文字颜色
@like-font-color: #8D8D8D;
//特殊价格没有基础价格时背景色
@spec-bg-color: #DBDFE1;
//保留房共享房型的颜色
@block-room-share-color: #FCDF6C;
//客史和客户合并提示信息颜色
@merge-tool-tip-color: #399999;
//账单详情下方消费金额字体颜色
@order-detail-monetary: #DE3A3A;

/*新添加颜色*/
@ecf3f4: #ecf3f4;
@FBEBDC: #FBEBDC;
@E9ECF1: #E9ECF1;
@9C9DA0: #9C9DA0;
@E8EdF3: #E8EdF3;
@707477: #707477;
@F7F8FA: #F7F8FA;
@C2CBD6: #C2CBD6;
@e4fbeb: #e4fbeb;
@f9f3ef: #f9f3ef;
@313131: #313131;
@3fc145: #3fc145;
@dfe5ed: #dfe5ed;
@BFBFBF: #BFBFBF;
@dcdcdc: #dcdcdc;
@d9d9d9: #d9d9d9;
@fafafa: #fafafa;
@1890ff: #1890ff;
@F1F3F7: #F1F3F7;
@EAECED: #eaeced;
@d7d7d7: #d7d7d7;
@e7e7e7: #e7e7e7;
@a9b2bb: #a9b2bb;
@4c4c4c: #4c4c4c;
@DFE3E4: #DFE3E4;
@d3dce2: #d3dce2;
@eff2f4: #eff2f4;
@fd8149: #fd8149;
@ff782a: #FF782A;
@aeaeae: #aeaeae;
@bab7bc: #bab7bc;
@F6F7F7: #F6F7F7;
@e8e8e8: #e8e8e8;
@AEDCF5: #AEDCF5;
@f1f2f6: #f1f2f6;
@aaaaaa: #aaaaaa;
@969696: #969696;
@212325: #212325;
@222426: #222426;
@18bd33: #18bd33;
@a3aab6: #a3aab6;
@0079dc: #0079dc;
@F3F4F6: #F3F4F6;
@666666: #666666;
@00ffff: #00ffff;
@7fffd4: #7fffd4;
@fde7d9: #fde7d9;
@fef2eb: #fef2eb;
@d4d4d5: #d4d4d5;


@f2f2f2: #f2f2f2;
@8fb3DA: #8fb3DA;
@008181: #008181;
@dda1dd: #dda1dd;
@71a727: #71a727;
@535860: #535860;
@B1B9CB: #B1B9CB;
@76A4F6: #76A4F6;
@92918c: #92918c;
@FAC604: #FAC604;
@F46060: #F46060;
@727f8d: #727f8d;
@5690F8: #5690F8;
@B1B1B1: #B1B1B1;
@7C8893: #7C8893;
@047CFD: #047CFD;
@0EB149: #0EB149;
@DFE3E3: #DFE3E3;
@B3B9C3: #B3B9C3;
@dddddd: #dddddd;
@ececec: #ececec;
@FDF7F3: #FDF7F3;
@353535: #353535;
@e2e2e2: #e2e2e2;
@b5b5b5: #b5b5b5;
@a7a5a5: #a7a5a5;
@DCE3E5: #DCE3E5;
@CBCCCD: #CBCCCD;
@e6e6e6: #e6e6e6;
@eef1f2: #eef1f2;
@BBC6D1: #BBC6D1;
@bdbdbd: #bdbdbd;
@a49999: #a49999;

@15A52D: #15A52D;
@22242626: #22242626;
@33333380: #33333380;
@808080: #808080;
@EFF3F4: #EFF3F4;
@ffffffe6: #ffffffe6;
@00000033: #00000033;
@B5B8BE: #B5B8BE;
@f4f7f9: #f4f7f9;
@e6f0fd: #e6f0fd;
