@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.woff?xh0ekj') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="roomstatus-icon-"],
[class*=" roomstatus-icon="] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

i.icon.font.icon-22:before {
    content: "\e901";
}

i.icon.font.icon-23:before {
    content: "\e902";
}

i.icon.font.icon-24:before {
    content: "\e903";
}

i.icon.font.icon-25:before {
    content: "\e904";
}

i.icon.font.icon-26:before {
    content: "\e905";
}

i.icon.font.icon-27:before {
    content: "\e906";
}

i.icon.font.icon-33:before {
    content: "\e907";
}

i.icon.font.icon-127:before {
    content: "\e908";
}

i.icon.font.icon-128:before {
    content: "\e909";
}

i.icon.font.icon-21:before {
    content: "\e900";
}

i.icon.font.icon-88:before {
    content: "W";
}