@import './color.less';

i.icon12 {
  width: 12px !important;
  height: 12px !important;
  margin: 0;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  opacity: 1;

  &.img44_03 {
    background-image: url('../../images/ico/44-03.png');
  }

  &.img44_10 {
    background-image: url('../../images/ico/44-10.png');
  }
}

// 14*14 icon
.ui.button i.icon14,
i.icon14 {
  width: 14px !important;
  height: 14px !important;
  margin: 0;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  opacity: 1;

  &.img405 {
    background-image: url('../../images/ico/405-1.png'); //销售点选中右下角对勾
  }

  &.img29 {
    background-image: url('../../images/ico/29-1.png');
  }
}

.ui.button:hover i.icon14,
.menu-item:hover i.icon14,
i.icon14:hover {
  width: 14px !important;
  height: 14px !important;
  margin: 0;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  opacity: 1;

  &.img29 {
    background-image: url('../../images/ico/29-2.png');
  }
}

.sendorder {
  width: 25px !important;
  height: 25px !important;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  margin: 0 !important;
  background-image: url('../../images/ico/send.png');
}

.presentation {
  width: 25px !important;
  height: 25px !important;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  margin: 0 !important;
  background-image: url('../../images/ico/presentation.png');
}



// 20*20 icon
i.icon20 {
  width: 20px !important;
  height: 20px !important;
  margin: 0;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  opacity: 1;

  &.img1 {
    background-image: url('../../images/ico/1-1.png'); //图标名称
  }

  &.img135 {
    background-image: url('../../images/ico/135-1.png');
  }

  &.img480 {
    background-image: url('../../images/ico/480-1.png'); //刷新
  }

  &.img12 {
    background-image: url('../../images/ico/12-1.png'); //开单
  }

  &.img13 {
    background-image: url('../../images/ico/13-1.png'); //调单
  }

  &.img14 {
    background-image: url('../../images/ico/14-1.png'); //换台
  }

  &.img15 {
    background-image: url('../../images/ico/15-1.png'); //补单
  }

  &.img16 {
    background-image: url('../../images/ico/16-1.png'); //打印账单
  }

  &.img17 {
    background-image: url('../../images/ico/17-1.png'); //作废账单
  }

  &.img18 {
    background-image: url('../../images/ico/18-1.png'); //沽清
  }

  &.img19 {
    background-image: url('../../images/ico/19-1.png'); //刷新
  }

  &.img20 {
    background-image: url('../../images/ico/20-1.png'); //营业信息
  }

  &.img21 {
    background-image: url('../../images/ico/21-1.png'); //清机
  }

  &.img22 {
    background-image: url('../../images/ico/22-1.png'); //销售点
  }

  &.img23 {
    background-image: url('../../images/ico/23-1.png'); //报表预览
  }

  &.img24 {
    background-image: url('../../images/ico/24-1.png'); //报表导出
  }

  &.img25 {
    background-image: url('../../images/ico/25-1.png'); //报表放大
  }

  &.img26 {
    background-image: url('../../images/ico/26-1.png'); //报表缩小
  }

  &.img27 {
    background-image: url('../../images/ico/27-1.png'); //报表还原
  }
}

// 20*20 icon
.ui.button:hover i.icon20,
.active i.icon20,
i.menu-item.icon20:hover,
i.icon20:hover {
  width: 20px !important;
  height: 20px !important;
  margin: 0;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  opacity: 1;

  &.img1 {
    background-image: url('../../images/ico/1-2.png'); //图标名称
  }

  &.img409 {
    background-image: url('../../images/ico/409-1.png');
  }

  &.img410 {
    background-image: url('../../images/ico/410-1.png');
  }

  &.img480 {
    background-image: url('../../images/ico/480-2.png'); //刷新
  }

  &.img12 {
    background-image: url('../../images/ico/12-2.png'); //开单
  }

  &.img13 {
    background-image: url('../../images/ico/13-2.png'); //调单
  }

  &.img14 {
    background-image: url('../../images/ico/14-2.png'); //换台
  }

  &.img15 {
    background-image: url('../../images/ico/15-2.png'); //补单
  }

  &.img16 {
    background-image: url('../../images/ico/16-2.png'); //打印账单
  }

  &.img17 {
    background-image: url('../../images/ico/17-2.png'); //作废账单
  }

  &.img18 {
    background-image: url('../../images/ico/18-2.png'); //沽清
  }

  &.img19 {
    background-image: url('../../images/ico/19-2.png'); //刷新
  }

  &.img20 {
    background-image: url('../../images/ico/20-2.png'); //营业信息
  }

  &.img21 {
    background-image: url('../../images/ico/21-2.png'); //清机
  }

  &.img22 {
    background-image: url('../../images/ico/22-2.png'); //销售点
  }

  &.img23 {
    background-image: url('../../images/ico/23-2.png'); //报表预览
  }

  &.img24 {
    background-image: url('../../images/ico/24-2.png'); //报表导出
  }

  &.img25 {
    background-image: url('../../images/ico/25-2.png'); //报表放大
  }

  &.img26 {
    background-image: url('../../images/ico/26-2.png'); //报表缩小
  }

  &.img27 {
    background-image: url('../../images/ico/27-2.png'); //报表还原
  }
}



// 右侧 32*32 icon
i.icon32 {
  width: 32px !important;
  height: 32px !important;
  margin: 0;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  opacity: 1; // 返回

  // 返回
  &.img83 {
    background-image: url('../../images/ico/83-1.png');
  }

  // 保存
  &.img81 {
    background-image: url('../../images/ico/81-1.png');
  }

  // 保存 下一个
  &.img82 {
    background-image: url('../../images/ico/82-1.png');
  }

  // 取消
  &.img154 {
    background-image: url('../../images/ico/154-1.png');
  }

}

i.icon32:hover {

  // 返回
  &.img83 {
    background-image: url('../../images/ico/83-2.png');
  }

  // 保存
  &.img81 {
    background-image: url('../../images/ico/81-2.png');
  }

  // 保存 下一个
  &.img82 {
    background-image: url('../../images/ico/82-2.png');
  }

  // 取消
  &.img154 {
    background-image: url('../../images/ico/154-2.png');
  }

}





// 右侧 40*40 icon
i.icon25 {
  width: 25px !important;
  height: 25px !important;
  margin: 0;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  opacity: 1;

  //操作员
  &.img5 {
    background-image: url('../../images/ico/5-1.png');
  }

  //营业时间
  &.img6 {
    background-image: url('../../images/ico/6-1.png');
  }

  //销售点
  &.img7 {
    background-image: url('../../images/ico/7-1.png');
  }

  //餐点
  &.img8 {
    background-image: url('../../images/ico/8-1.png');
  }

  //菜单查询方式切换
  &.img11 {
    background-image: url('../../images/ico/11-1.png');
    width: 56px !important;
    background-size: 56px 25px !important;
  }

}


i.icon25:active {

  //菜单查询方式切换
  &.img11 {
    background-image: url('../../images/ico/11-2.png');
  }
}




// 右侧 40*40 icon
i.icon40 {
  width: 40px !important;
  height: 40px !important;
  margin: 0;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  opacity: 1;

  // 查询
  &.img2 {
    background-image: url('../../images/ico/2-1.png');
  }

  //返回
  &.img3 {
    background-image: url('../../images/ico/3-1.png');
  }

  //注销
  &.img4 {
    background-image: url('../../images/ico/4-1.png');
  }
}


i.icon40:active {

  // 查询
  &.img2 {
    background-image: url('../../images/ico/2-2.png');
  }

  //返回
  &.img3 {
    background-image: url('../../images/ico/3-2.png');
  }

  //注销
  &.img4 {
    background-image: url('../../images/ico/4-2.png');
  }
}






//50*50 icon
i.icon50 {
  width: 50px !important;
  height: 50px !important;
  margin: 0;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  opacity: 1;

  // 菜单右翻页
  &.img9 {
    background-image: url('../../images/ico/9-1.png');
  }

  // 菜单左翻页
  &.img10 {
    background-image: url('../../images/ico/10-1.png');
  }

  // 向左
  &.img28 {
    background-image: url('../../images/ico/28-1.png');
  }

  // 向左
  &.img28-2 {
    background-image: url('../../images/ico/28-2.png');
  }

  // 向左
  &.img30 {
    background-image: url('../../images/ico/30-1.png');
  }

  // 向左
  &.img30-2 {
    background-image: url('../../images/ico/30-2.png');
  }

}


i.icon50:active {

  // 菜单右翻页
  &.img9 {
    background-image: url('../../images/ico/9-2.png');
  }

  // 菜单左翻页
  &.img10 {
    background-image: url('../../images/ico/10-2.png');
  }

  // 向左
  &.img28 {
    background-image: url('../../images/ico/28-2.png');
  }

  // 向左
  &.img30 {
    background-image: url('../../images/ico/30-2.png');
  }

}