@import './color.less';
html,
body,
div,
label,
span,
button,
input,
li,
td {
    font-size: 12px!important;
    font-family: "Arial,Tahoma"!important;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 768px;
    min-height: 768px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: @background-active;
    display: flex;
}

#root {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // width: 100%;
    // height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    //overflow-y: scroll;
    overflow: hidden;
}

.border-0 {
    border: none!important;
}

.box-shadow-0 {
    box-shadow: none!important;
}

.cursor{
    cursor: pointer;
}

@media print {
    .noprint {
        display: none
    }
}