@import '../base/color.less';

.advance-main{
  padding: 0 !important;
}

.advanceQ-btn{
  height: 28px;
  line-height: 28px;
  margin-left: 20px;
  cursor: pointer;
  &>.icon {
    font-size: 10px;
  }
}

.advanceQ-btn-span{
  padding-right: 5px;
}

//数据发生改变时，按钮的颜色
.dataChange-btn-color{
  color: @color-button; //通用按钮的颜色
}

.advanceQ-form{
  width: 350px;
  background-color: @background-interaction-normal; //白色
  border-top: 2px solid @color-button; //通用按钮的颜色
  box-shadow: 0 0 1px 1px @color-interaction-normal-deputy;  //灰色
}

.advanceQ-form-reset{
  width: 8em;
  padding-left: 10px;
  cursor: pointer;
  padding-bottom: 5px;
}

.advanceQ-reset-icon{
  margin-right: 5px !important;
  vertical-align: middle;
}