@import "../base/color.less";
.ui.button {
    height: 32px;
    font-size: 14px !important;
    padding: 8px 28px;
    margin: 0 10px;
    border-radius: 3px;
    color: @background-interaction-normal;
    background-color: @color-button;
    border: 1px solid @color-button;
    white-space: nowrap;
}

.ui.button:hover {
    background-color: @color-button-fixed;
    color: @background-interaction-normal;
    border: 1px solid @color-button-fixed;
}

.ui.button:focus {
    background-color: @color-button-focus;
    color: @background-interaction-normal;
    border: 1px solid @color-button-focus;
}

.ui.button:active {
    background-color: @color-button-active;
    color: @background-interaction-normal;
    border: 1px solid @color-button-active;
}

.ui.button:disabled,
.ui.buttons .disabled.button,
.ui.disabled.active.button,
.ui.disabled.button,
.ui.disabled.button:hover {
    background-color: @border-disabled;
}


/***取消按钮****/

.ui.button.cancel {
    color: @color-label-normal;
    background-color: @background-interaction-normal;
    border: 1px solid @border-normal;
}

.ui.button.cancel:hover {
    background-color: @background-interaction-disabled;
}

.ui.button.cancel:focus {
    background-color: @background-interaction-disabled;
}

.ui.button.cancel:active {
    background-color: @background-active;
}


/***表单按钮****/

.ui.button.form-button {
    height: 28px;
    padding: 6px 28px;
}


/***深色背景色按钮***/

.ui.icon.button.dark-bgcolor,
.ui.icon.button.dark-bgcolor .button {
    padding: .5em .1em .5em .1em;
    background-color:  @bgcolor-transparent;
    color: @background-interaction-normal!important;
    border: none;
    box-shadow: none;
}


/***深色背景色按钮***/

.ui.icon.button.dark-bgcolor:hover,
.ui.icon.button.dark-bgcolor:hover .button {
    color: @background-menu-mouse-fixed!important;
    background-color:  @bgcolor-transparent!important;
}

/***icon按钮样式***/
.ui.button.icon-button{
    height: 14px;
    width: 14px;
    padding: 0;
    margin: 0 10px 0 0;
    border: none;
    background-color: @bgcolor-transparent;
  }