@import '../base/color';
.ui.toggle.checkbox input ~ label:before,
.ui.toggle.checkbox input:focus ~ label:before,
.ui.toggle.checkbox input ~ label:hover:before{
  background-color: #444;
}
//设置半选中状态样式
.ui.checkbox input:indeterminate~.box:after, .ui.checkbox input:indeterminate~label:after{
  top: 3.5px;
  left: 3.4px;
  content: '';
  width: 11px;
  height: 11px;
  background-color: #000;
}

.ui.indeterminate.checkbox:hover{
  color: @checkbox-semi-selected-hover!important;
   label{
    color: @checkbox-semi-selected-hover!important;
  }

   input:not([type=radio]):indeterminate~.box:before, input:not([type=radio]):indeterminate~label:before{
    border-color: @checkbox-semi-selected-hover!important;
  }
   input:not([type=radio]):indeterminate~.box:after, input:not([type=radio]):indeterminate~label:after{
    color: @checkbox-semi-selected-hover!important;
    background-color: @checkbox-semi-selected-hover!important;
  }
}