@import '../base/color';
.colorCalendar {
  width: 48%;
  background-color: @background-interaction-normal;
  border: 1px solid @border-normal;
  .calendar-body-box {
    display: inline-flex;
    flex-flow: wrap;
    width: 100%;
    > div {
      display: inline-flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 14.2857%;
      height: 74px;
      line-height:initial;
      text-align: center;
      border: 1px solid @border-normal;
      border-bottom: none;
      border-left: none;
    }
    .colorCalendar-roomRank{
      justify-content: center;
    }
    > div:nth-child(7n){
      border-right: none;
    }
    .calendar-body-box-textdate {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 5px;
      // margin-top: -18px;
      padding-bottom: 5px;
      >div:nth-child(2){
        padding: 0 3px;
        border: 1px solid @color-selected-blue;
        background: @background-interaction-normal;
        color: @color-selected-blue;
      }
    }
    .otherMonth{
      cursor: auto;
    }
    .calendar-body-div-text {
      text-overflow: ellipsis;
      display: box;
      display: -webkit-box;
      display: -moz-box;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      /* autoprefixer: on */
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .calendar-body-div-drpt {
      text-overflow: ellipsis;
      display: box;
      display: -webkit-box;
      display: -moz-box;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      /* autoprefixer: on */
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
  .calendar-body-box > div.calendar-week {
    width: 14.2857%;
    height: 30px;
    line-height: 30px;
    border: none;
    background: @background-active;
  }
  .calendar-title-box {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
}
