@import "../base/color.less";
.ui.card.custom-card{
  width: 340px;
  margin: 0 0 10px 0;
  padding: 10px;
  border: none;
  border-left: 5px solid @border-custom-card;
  box-shadow: none;
  color: #333;
  >.content:nth-child(1){
    padding: 0 0 10px 0;
    >.header{
      display: flex;
      align-items: center;
      >i.icon.customcardlogo{
         width: 20px !important;
         height: 20px !important;
         margin-right: 5px;
      }
      >.ui.button{
        padding: 3px 5px;
        height: 20px;
        background-color: transparent;
        color: @color-button;
        border: none;
      }
    }
  }
  >.content:nth-child(2){
    border-top-color:@border-role-divider;
  }
}

a.ui.card.custom-card:hover{
  z-index: inherit;
  border-left: 5px solid @color-button;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  box-shadow: none;
}

.ui.card.custom-card:hover{
  border-color: @color-button;
  >.content:nth-child(1){
    >.header{
      .ui.button{
        background-color: @color-button;
        color: @background-interaction-normal;
        padding: 3px 10px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
}

.ui.card.custom-card:last-child{
  margin-bottom: 0;
}