@import "../base/color.less";
.datepickerpop{
  z-index: 10010;
}

.ui.form .wide.field .hydatepickercom.ui.input .ui.input{
  flex: 1 0 auto;
  width: 0;
}

.datepickerpop .calendar {
    width: 270px;
    display: block;
    background-color: @background-interaction-normal;
    border: 1px solid @border-normal;
    padding: 0 14px 10px 14px;
    border-radius: 5px;
  }
  /**
   * 设置日历顶部盒子
   */
  .calendar .calendar-title-box {
    position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-bottom: 1px solid @border-normal;
    i.icon14 {
      position: absolute;
      top: 10px;
    }
    i:nth-child(1) {
      left: 0;
    }
    i:nth-child(2) {
      left: 20px;
    }
    i:nth-last-child(2) {
      right: 20px;
    }
    i:nth-last-child(1) {
      right: 0;
    }
  }

  .calendar-body-box > div {
    display: inline-block;
    width: 34.22px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

    //回到今天
    .calendar-body-box div.calendar-today{
      display: block;
      width: 100%;
      cursor: pointer;
    }

  .calendar-week,.calendar-title{
    color: @color-interaction-normal;
  }

  /**
   * 设置上个月的按钮图标
   */

  .calendar .prev-month {
    position: absolute;
    top: 12px;
    left: 0px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 0px;
    border-top: 6px solid transparent;
    border-right: 8px solid @color-interaction-normal;
    border-bottom: 6px solid transparent;
    cursor: pointer;
  }
  /**
   * 设置下个月的按钮图标
   */

  .calendar .next-month {
    position: absolute;
    top: 12px;
    right: 0px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-right: 0px;
    border-top: 6px solid transparent;
    border-left: 8px solid @color-interaction-normal;
    border-bottom: 6px solid transparent;
    cursor: pointer;
  }
  /* 当前天 颜色特殊显示 */
  .currentDay {
    color: @background-interaction-normal;
    background-color: @color-selected-blue;
    cursor: pointer;
  }
  /* 本月 文字颜色 */
  .currentMonth {
    color: @color-label-normal;
    cursor: pointer;
  }
  /* 其他月颜色 */
  .otherMonth {
    color: @color-interaction-normal-deputy;
    cursor: pointer;
  }

  .disable-calendar {
    cursor: not-allowed;
  }

  .datepickerlabel {
    margin-right: 10px;
  }

  .ui.top.center.popup.datepickererrmes {
    background-color: @color-error;
    color: #fff;
    border-color: @color-error;
  }

  .datepickererrmes_popup .datepickererrmes_popup{
    z-index: 10;
  }

  .datepickererrmes_popup .datepickererrmes{
    min-width: min-content;
    z-index: 1900;
    border: 1px solid #d4d4d5;
    border-bottom: none;
    line-height: 1.4285em;
    max-width: 250px;
    background: #fff;
    padding: .833em 1em;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  }

  .datepickererrmes {
    padding: 10px;
    background-color: @color-error;
    color: #fff;
    margin-bottom: 10px;
    border-radius: .28571429rem;
  }

  .datepickererrmes:before {
    top: auto;
    right: auto;
    bottom: .4914286em;
    left: 50%;
    margin-left: -.30714286em;
    background: @color-error;
    position: absolute;
    content: '';
    width: .71428571em;
    height: .71428571em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    -webkit-box-shadow: 1px 1px 0 0 #bababc;
    box-shadow: 1px 1px 0 0 #bababc;
  }

  .hydatepickercom .ui.input.error input[type=text]{
    border: 1px solid #B34D4D !important;
    background-color: #FF0000 !important;
    color: #fff !important;
    opacity: unset !important;
    border-radius: 2px !important;
  }
