@import "../base/color.less";
.ui.search.selection.dropdown>input.search {
  padding: 0.5839em 2.1em 0.5839em 1em;
}

.ui.selection.dropdown>.delete.icon,
.ui.selection.dropdown>.dropdown.icon,
.ui.selection.dropdown>.search.icon {
  line-height: 0.8em;
  padding: .71666667em;
}

.ui.selection.dropdown {
  min-height: 28px;
  min-width: 3em;
  border-radius: 2px;
  border: 1px solid @border-normal;
  background-color: @background-interaction-normal;
  padding: 6.5px 5px 6.5px 8px;
}

.hydropdowncom-multiplediv {
  width: 100%;
  position: relative;
}

.ui.multiple.dropdown {
  padding: 0 1.3em 0 0.35714286em;
}
//多选一行排列增加样式
.ui.multiple.dropdown:not(.visible) {
  overflow: hidden;
  // white-space: nowrap;
  height: 100%;
}

.hydropdowncom .ui.multiple.selection.dropdown{
  position: absolute;
  right: 0;
  width: 100%;
  padding-right: 36px;
}

.ui.multiple.dropdown.visible {
  position: absolute;
  top: 0;
  right: 0;
}
//多选一行排列增加样式

.ui.multiple.dropdown>.label {
  // padding: .25714286em .78571429em;
  width: auto !important;
  margin: .18285714rem .28571429rem .14285714rem 0;
}

.hydropdowncom .ui.multiple.dropdown .item.custom-header {
  margin: 0;
  padding: 2px !important;
  cursor: auto;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
  min-width: 190px;
  .button {
    font-size: 0.78571429rem !important;
    padding: 1px 5px !important;
    min-height: 0.78571429rem !important;
    font-weight: 500 !important;
    height: 23px !important;
    border: none;
    background-color: transparent;
    color: #333;
  }
}

.ui.selection.dropdown .menu>.item {
  padding: .57571429em 5px .57571429em 8px !important;
  min-height: 25px;
}

.ui.search.selection.dropdown>input.search {
  padding: 0 !important;
  width: 100% !important;
  line-height: 26px;
}

.ui.selection.dropdown .menu {
  width: calc(~"100% + 2px");
  min-width: calc(~"100% + 2px");
}

.hydropdowncom .ui.selection.dropdown {
  flex: 1 0 auto;
  width: 0;
}

.hydropdowncom .ui.selection.dropdown .default.text {
  width: 100%;
  height: 1em;
}

.hydropdowncom .ui.multiple.dropdown>.text {
  line-height: 1em;
}

.hydropdowncom .ui.selection.dropdown>.text {
  line-height: 1em;
  overflow: hidden;
  word-wrap: normal;
  width: calc(~"100% - 15px");
  height: 1em;
  line-height: 1em;
  text-overflow: ellipsis;
}

.hydropdowncom .ui.active.search.dropdown input.search:focus+.text {
  visibility: hidden;
}

.hydropdowncom .ui.selection.visible.dropdown>.text:not(.default) {
  visibility: hidden;
}

.hydropdowncom .ui.selection.dropdown .menu {
  width: auto; // max-width: 144%;
  //max-width: calc(~"100% + 70px");
  margin-top: 1px;
  border-top: 1px solid @border-normal  !important;
}

.hydropdowncom .ui.selection.dropdown .menu>.item {
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hydropdowncom-checkBox-trash {
  position: absolute;
  z-index: 9;
  right: 22px;
  top: 7px;
}

.hydropdowncom-trash {
  position: absolute;
  z-index: 9;
  right: 22px;
  top: 7px;
}

.hydropdowncom-trash.trash-open,
.hydropdowncom-checkBox-trash.trash-open{
  z-index: 11;
}

 .ui.multiple.selection.dropdown>a.ui.label:first-child{
     // margin-left: 20px;
   border-radius: 2px;
 }