@import "../base/color.less";
.extendselectbox {
  display: flex;
  flex-wrap: wrap;
  &>div{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .ui.button:not(.icon) {
   & > .icon:not(.button):not(.dropdown){
     margin: 0
   }
  }
  .ui.button{
    margin:0 0 0 10px;
  }
}

.checkbox-bkground{
  background-color: @background-interaction-disabled;
  padding: 10px 8px 10px 10px;
}

.checked-bkground{
  background-color: @color-button;
  & >div.ui.checked.checkbox {
    color: @background-interaction-normal;
    & > label{
      color: @background-interaction-normal;
    }
  }
}

.extendselectbox-selectAll{
  position: absolute;
  right: 0;
  top: 0;
}