@import "../base/color.less";
.feature-button-list-com{
  display: flex;
  background: @background-interaction-normal!important;
  margin-top: 1px;
  .ui.button{
    height: 25px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    .close.icon{
      background: @background-interaction-normal!important;
      color: @color-button-focus;
    }
  }
  .clearSearchCon{
    height: 35px;
    line-height: 35px;
    color: @color-button-fixed!important;
    cursor: pointer;
  }
}
