@import "../base/color.less";
//table 功能列样式
.table-featurecolumn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-featurecolumn .ui.button,.hyquerycom .ui.button{
  height: auto;
  padding: 5px 10px;
  background: @background-interaction-disabled;
  color: @color-label-normal;
  border: 1px solid @bgcolor-button-feature;
  border-radius: 0;
  vertical-align: middle;
  font-size: 12px!important;
  font-weight: normal;
  margin: 0;
  margin-right: 10px;
}

.table-featurecolumn .ui.button.moreBtn{
  padding: 5px 16px 5px 4px;
  //margin-left: 10px;
}

// .featurebtn.table-featurecolumn .ui.button:nth-last-child(1) {
//   margin-left: 10px;
// }

.table-featurecolumn .ui.button:not(.icon) > .icon:not(.button):not(.dropdown){
  position: absolute;
  margin: .1em 0.42857143em 0 1.9em;
}

.table-featurecolumn.ui.bottom.popup{
  padding: 0;
  min-width: 102px;
  margin-top: 1px;
  z-index: 9;
}

.table-featurecolumn.popup .ui.button {
  display: block;
  width: 100%;
  margin: auto;
  padding: 12px 30px 12px 10px;
  background-color: @bgcolor-transparent;
  text-align: left;
  border:none;
  border-bottom: 1px solid @border-table;
}

.table-featurecolumn.popup .ui.button:nth-last-child(1){
  border:none;
}

.table-featurecolumn.popup .ui.button:hover{
  background-color: @background-interaction-disabled
}

.featurebtn-list-noshow{
  display: none;
}