@import '../base/color.less';
.ui.form .fields{
    width: 100%;
}

.ui.form .fields .wide.field {
    padding-right: .1em;
}

.ui.form>.field:last-child,
.ui.form>.fields:last-child {
    margin: 0 0 1em;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .disabled.dropdown,
.ui.form .field :disabled {
    border: 1px solid @border-disabled  !important;
    background-color: @background-interaction-disabled  !important;
    opacity: unset !important;
    border-radius: 2px !important;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled{
    pointer-events: auto!important;
}

.ui.form .ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
    opacity: 1;
}

.ui.form .error.field,
.ui.form .error.fields .field,
.ui.form .error.dropdown,
.ui.form .error.textarea>textarea,
.ui.form .error.input>input {
    border: 1px solid @border-error  !important;
    background-color: @background-error  !important;
    color: @color-error  !important;
    opacity: unset !important;
    border-radius: 2px !important;
}

.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input {
    width: 100%;
    height: 28px;
}

.ui.form {
    padding: 10px 10px 0 0;
    &.flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-grow: 1;
    }
    &.label_words_5,
    .label_words_5 {
        .ui.label {
            width: 80px;
            text-align: left;
        }
        .input-checkbox-div {
            left: 85px !important;
        }
    }
    &.label_words_4,
    .label_words_4 {
        .ui.label {
            width: 68px;
            text-align: left;
        }
        .input-checkbox-div {
            left: 73px !important;
        }
    }
    &.label_words_3,
    .label_words_3 {
        .ui.label {
            width: 56px;
            text-align: left;
        }
        .input-checkbox-div {
            left: 61px !important;
        }
    }
    &.label_words_2,
    .label_words_2 {
        .ui.label {
            width: 44px;
            text-align: left;
        }
        .input-checkbox-div {
            left: 49px !important;
        }
    }
    &.label_words_1,
    .label_words_1 {
        .ui.label {
            width: 15px;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
        .input-checkbox-div {
            left: 20px !important;
        }
    }
    .field {
        .ui.input.hydropdowncom.multiple {
            //height: auto;
            height: 28px;
        }
        .ui.checkbox {
            margin-top: .39em;
            margin-left: 10px;
        }
        .wide.field {
            padding-right: .1em;
        }
        .input-checkbox-div {
            position: absolute;
            height: 100%;
            width: 20px;
            left: 25px;
            padding: 5px 0 4px 0;
            margin: 0!important;
            z-index: 1;
            >input {
                height: 16px !important;
                width: 16px !important;
            }
            >label:before,
            >label::after{
                width: 15px;
                height: 15px;
                top: 1px;
            }
            +input {
                padding-left: 21px;
            }
            +.ui.input{
                >input{
                    padding-left:21px;
                }
            }
            +.ui.dropdown .text {
                padding-left: 14px;
            }
            +.hydropdowncom-multiplediv{
                .ui.multiple.selection.dropdown{
                    padding-left: 23px;
                }
            }

        }
    }
}

.form-must {
    position: relative;
    >span {
        position: absolute;
        top: 8px;
        left: 3px;
        color: @color-red;
    }
}