@import '../base/color.less';
.ui.buttons.groupButtons{
  width: 72px;
    >.button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    >.button:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    >.groupButton{
      height: 20px;
      padding: 3px 5px;
      background-color: @color-error;
      color: @color-label-normal;
      border:1px solid @gradient-button-border;
      font-size: 12px !important;
    }
    >.groupButton-active{
      height: 20px;
      padding: 3px 5px;
      border:1px solid @color-button;
      font-size: 12px !important;
    }
    >.groupButton-active:hover{
       background-color: @color-button;
       border:1px solid @color-button;
    }
    >.groupButton-active:focus{
      background-color: @color-button;
      border:1px solid @color-button;
    }
   >.groupButton-active:active{
    background-color: @color-button;
    border:1px solid @color-button;
    }
}