.ui.menu.hyaccordionmenucom {
    border-width: 0 1px 0 0;
    box-shadow: none;
    border-radius: 0;
    width: 152px;
    height: 100%;
    .endComItem {
    	&:hover>.endCom>span {
    		display: inline-block !important;
    	}
    }
    .endCom {
    	>[data-text] {
		    max-width: 85px;
		    overflow: hidden;
		    display: inline-block;
		    white-space: nowrap;
		    text-overflow: ellipsis;
    	}
    	>[data-edit] {
    		display: none;
		    float: right;	
    	}
    }
    .item {
        min-height: 28px;
        box-shadow: none;
        padding: 0.75em 10px;
    }
    .styled.item {
        padding: 0;
    }
    >.item:first-child {
        border-radius: 0;
        border: none;
    }
    >.item:last-child {
        border-radius: 0;
        border: none;
    }
    .item::before {
        width: 0;
    }
    .menu-item:hover {
        background-color: @color-button;
        color: @background-interaction-normal;
    }
    .item.menuActive {
        background-color: @color-button;
        color: @background-interaction-normal;
    }
    .title {
        color: @color-interaction-normal;
        padding: 0.75em 10px;
        font-weight: 400;
        >.dropdown.icon {
            float: right;
        }
    }
    .title.childrenActive {
        border-left: 2px solid @color-button;
    }
    .content {
        padding: 0;
        margin: 0;
    }
    .content .fitted.item {
        padding: 0.75em 22px;
    }
}