.hybtninputcom {
  display: flex;
  align-items: center;
  justify-content: center;

  .ui.input,
  .ui.input.pkgsBtnInput {
    width: 100px !important;
    height: 50px;
  }
  .ui.input input {
    height: 51px;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: 20px!important;
  }

  .ui.button {
    margin: 0 !important;
    background: none;
    border: none;

    i {
      margin: 0 !important;
    }
  }

  .btn-count-min,
  .btn-count-add {
    width: 50px !important;
    ;
    height: 50px !important;
    ;
    margin: 0;
    padding: 0 !important;
    border: none;
    border-radius: 100%;
  }

  .ui.button:hover {
    border: none !important;
    background-color: transparent !important;
  }

  .ui.button:active {
    border: none !important;
    background-color: transparent !important;
  }

  .ui.button:focus {
    border: none !important;
    background-color: transparent !important;
  }

  .ui.button:disabled {
    border: none !important;
    background-color: transparent !important;
  }

  .pkgsBtnInput {
    input {
      height: 100% !important;
    }
  }
}