@import "../base/color.less";
.hychannelbutton{
  display: flex;
  flex-flow: wrap;
  width: 161px;
  height: 120px;
  padding: 7px 12px;
  background-color: @background-interaction-normal;
  border:1px solid @border-normal;
  border-radius: 2px;
    &>.ui.icon.button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      border: none;
      background-color:@bgcolor-transparent;
      &>span{
        color: @color-interaction-normal;
      }
    }
    &>.ui.icon.button:hover{
      background-color: @color-button;
      &>span{
        color: @background-interaction-normal;
      }
    }
   &>.ui.icon.button.channelbutton-less{
    width: 67.5px;
    height: 51px;
   }
   &>.ui.icon.button.channelbutton-more{
    width: 53px;
    height: 51px;
   }
}

.hychannelbutton-more{
  padding-left: 0;
  padding-right: 0
  ;
}