@import "../base/color.less";
.ui.dimmer.modals .hyconfirmcom {
    >.actions .button {
        float: right;
        background-color: @background-interaction-normal;
        border-color: @background-menu;
        color: @color-label-normal;
    }
    >.actions .button.primary{
        background-color: @use-packages-btn-hover!important;
        color: @background-interaction-normal!important;
        border-color: @use-packages-btn-hover!important;
    }
    >.confirm-content {
        display: flex;
        text-overflow: ellipsis;
        white-space: normal;
        min-height: 50px;
        flex-wrap: nowrap;
        align-items: stretch;
        >.confirm-content-ico {
            display: flex;
            width: 50px;
            align-items: center;
            justify-content: center;
        }
        >.confirm-content-text{
            flex-grow: 1;
            vertical-align: middle;
            padding: 19px 10px 17px 0;
            font-size: 14px!important;
        }
    }
    .confirm-content-form{
        padding-left: 40px;
    }
}