/*
鱼骨组件样式
*/
.HyFishBone{
  //弹性布局
  display: flex;
  //子元素纵向布局
  flex-direction: column;
  //内容对齐 居中
  align-items: center;
}

.HyFishBone .topImg{
  width: 880px;
  height: 6px;
  background-image: url('../../images/jtgkdown.png');
  background-size: 12px 6px;
  background-repeat: no-repeat;
  background-position: center;
}
.HyFishBone .bottomImg{
  width: 880px;
  height: 6px;
  background-image: url('../../images/jtgkup.png');
  background-size: 12px 6px;
  background-repeat: no-repeat;
  background-position: center;
}

//主div
.HyFishBone .parentItem{
  display: flex;
  flex-direction: row;
  width: 880px;
  height: auto;
  background-image: url('../../images/jtgk_2.png');
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.HyFishBone .parentItem-left{
  width: 100%;
  height: 100%;
}

.HyFishBone .parentItem-right{
  width: 100%;
  height: 100%;
  padding-top: 36px;
}


//左侧组件样式
.HyFishBone .mainItem{
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-image: url('../../images/jtgk_4.png');
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center;
}

//右侧组件样式
.HyFishBone .childrenItem{
  width: 440px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  background-image: url('../../images/jtgk_2.png');
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position-y: 10px;
}