@import "../base/color.less";
/*展开菜单演示文件*/


.HyMenuOpenCom{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 180px;
    background:@background-menu!important;
    z-index: 99999999999;
}
.HyMenuOpenCom div{
    font-size: 14px!important;
}

.HyMenuOpenCom .ui.accordion .title:not(.ui){
    padding: 13px 0;
}

.HyMenuOpenCom .Accordion{
    padding:0px!important;
    margin: 0px;
    cursor: pointer;
    height: auto;
    color: @color-menu-font!important;
    border-left: 2px solid  @background-menu;
    text-align: left;

}

.HyMenuOpenCom .ui.icon.button,.HyMenuOpenCom .ui.icon.buttons .button{
    width: 176px;
    height: 46px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    color: @color-menu-font!important;
    border: 0px;
    padding-left: 22px;
    text-align: left;
}

.HyMenuOpenCom .ui.icon.button:hover>.spanItem {
    color: @background-interaction-normal!important;
    font-weight: 700;
}




.HyMenuOpenCom .AccordionActive{
    color: @background-interaction-normal!important;
}


.HyMenuOpenCom .Accordion:hover{
    border-left-color:@menu-left-border!important;
    background-color:@background-unfold-menu!important;
    color: @background-interaction-normal!important;
}

.HyMenuOpenCom .spanItem{
    display: inline-block;
    width: 106px;
    padding-left: 10px;
    height: 16px;
    vertical-align: middle;
    line-height: 1.3em;
    font-weight: 400;
}


.HyMenuOpenCom .spanActive{
 color: @background-interaction-normal!important;
}

.HyMenuOpenCom .TitleDescpData{
    height: 70px;
    width: 180px;
    padding: 16px 0px 0px 1px;
    color: @color-menu-font!important;
    font-weight: 400;
}


.HyMenuOpenCom .TitleBtnCom{
    height: 20px!important;

}
.HyMenuOpenCom .TitleBtnComTop{
    margin-top: 4px!important;
}

.HyMenuOpenCom .TitleBtnCom:hover{
    color: @background-interaction-normal;
}

.HyMenuOpenCom .TitleBtn{
    display: inline-block;
    width: 121px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px!important;
    font-weight: 400!important;
}

.HyMenuOpenCom .TitleBtn:hover{
    color: @background-interaction-normal;
}

.HyMenuOpenCom .IsShowTopBtn{
    height: 46px;
    width: 180px;
    background-color: @color-menu-divider!important;
    cursor: pointer;
}

.HyMenuOpenCom .IsShowTopBtn{
    background-image: url(../../images/topmenubtn.png)!important;
    padding: 0px;
    margin: 0px;
    border: 0px !important;
    border-radius: 0px;
}



.HyMenuOpenCom .bottom-div{
    height: 47px;
    position: absolute;
    border-top: 1px solid@color-menu-divider!important;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}


.HyMenuOpenCom .bottom-div div:first-child{
    border-right: 1px solid@color-menu-divider!important;
}

.HyMenuOpenCom .bottom-div-item{
    height: 46px;
    width: 90px;
    display: flex;
    color: @color-menu-font!important;
    cursor: pointer;
}
.HyMenuOpenCom .bottom-div-item:hover{
    color: @background-interaction-normal!important;
    background-color: @background-unfold-menu!important;

}

.HyMenuOpenCom .ui.accordion,.HyMenuOpenCom .ui.accordion .accordion{
    height: calc(~"100% - 162px");
    overflow-y: auto;
    overflow-x: hidden;
}


.HyMenuOpenCom .childrenItemTitle{
    height: 46px;
    vertical-align: middle!important;
    color: @color-menu-font!important;
    border-bottom: 2px solid@color-menu-divider;
    padding:13px 0px 13px 16px!important;
}

.HyMenuOpenCom .childrenItem{
    cursor: pointer;
    height: 46px;
    color: @color-menu-font!important;
    text-align: center;
    background-color: @background-unfold-menu;
    border-bottom: 0px solid@color-menu-divider;
    padding:13px 0px 13px 16px!important;
    font-weight: 400;
}
.HyMenuOpenCom .wsNo{
    width: 104px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.HyMenuOpenCom .childrenItemUserTitle{
    height: 46px;
    vertical-align: middle!important;
    border-bottom: 2px solid@color-menu-divider;
    padding: 2px 0px 0px 16px!important;
    color: @color-menu-font!important;
    cursor: pointer;
}

.HyMenuOpenCom .childrenItem:hover{
    background:@background-unfold-menu!important;
    color: @background-interaction-normal!important;
}

.HyMenuOpenCom .User-childrenItem{
    cursor: pointer;
    height: 46px;
    color: @color-menu-font!important;
    text-align: left;
    border-bottom: 2px solid@color-menu-divider;
    padding:13px 0px 13px 10px!important;
}

.HyMenuOpenCom .User-childrenItem:hover{
    background:@background-unfold-menu!important;
    color: @background-interaction-normal!important;
}


.HyMenuOpenCom .ui.grid{
    margin: 0px;
    background:@background-menu!important;
}

.HyMenuOpenCom .Textpadding{
    margin-left: 3px;
}


.HyMenuOpenCom .hyfloat{
    left:100px!important;
}

.HyMenuOpenCom .headImage{
    position: absolute;
    left: 3px;
    top: 21px;
}