.HyFlexBox{
  height:100%;
  display: flex;
}

.HyFlexBox .flexboxbtn-l.ui.button{
  background:@color-button-focus;
  padding: 0px;
  margin: 0px;
  border: 0px;
  top: 45%;
  position: absolute;
}


.HyFlexBox .flexboxbtn-t.ui.button{
  background:@color-button-focus;
  padding: 0px;
  margin: 0px;
  border: 0px;
  //position: absolute;
}

.HyFlexBox .flexboxbtn-l.ui.button .icon{
  display: inline-block;
  margin: 3px 0px 0px 0px!important;
  font-size: 20px;
  width: 10px;
  height: 15px;
  opacity: 1;
}


.HyFlexBox .flexboxbtn-t.ui.button .icon{
  display: inline-block;
  margin: 0px 0px 0px 0px!important;
  font-size: 20px;
  opacity: 1;
  float: none;
}





.HyFlexBox .heightbox{
  width: 100%;
  height: 11px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.HyFlexBox .hclick{
  border-bottom: 0px solid @color-button-focus;
}
.HyFlexBox .widthbox{
  width:100%;
  height:100%;
  border:none;
  //position:absolute;
}

.HyFlexBox .wclick{
  height:100%;
  width:11px;
  border-right: 0px solid @color-button-focus;

}
.HyFlexBox .ui.button.btnleft{
  font-size: 16px;
  position:absolute;
  z-index: 1;
  color:#92918c;
  top:45%;
  left:0%;
  width: 11px;
  height: 45px;
  padding-top: 10px;
  background:@color-button-focus;
  border-radius: 7px 0px 0px 7px;
}
.HyFlexBox .ui.button.btntop{
  font-size: 16px;
  position:absolute;
  z-index: 1;
  color:#92918c;
  left: 48%;
  width: 45px;
  height: 11px;
  background:@color-button-focus;
  padding-left: 13px;
  border-radius: 0px 0px 7px 7px;
}
.HyFlexBox .heightbox .div-lr div{
  line-height: 16px !important;
  margin-top:-5px;
}
.HyFlexBox .widthbox .div-lr div{
  line-height: 16px !important;
  margin-top:4px;
  margin-left:3px;
}
.HyFlexBox .btnleftstyle{
 left:100%;
 border-radius: 0px 7px 7px 0px!important;
 z-index: 1;
}
.HyFlexBox .btntopstyle{
  bottom: -11px;
  border-radius: 0px 0px 7px 7px!important;
  height: 10px;
  width: 32px;
  left: 50%;
  font-size: 10px!important;
}
.HyFlexBox .heightbox + .children{
  border-bottom: 1px solid #ccc;
}
.HyFlexBox .Cblock{
  display: block;
  width: 100%;
  height: 100%;
}
.HyFlexBox .Cnone{
  display: none;
}


