.HyHandleCom{
  position: absolute;
  bottom: 25px;
  left: 30px;
  width: 230px;
  height: auto;
}

.HyHandleCom .subwinItem{
  max-width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.HyHandleComBread{
  float: right;
}

.HyHandleComBread .fontColore{
  color: @color-selected-blue;
}
.Itemstyle{
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.PopupDiv{
  max-width: 250px;
}