.HyHelpGuideCom {
    position: relative;
    flex-grow: 1;
    .popContainer {
        cursor: pointer;
        border: solid 5px #F9833A;
    }
    .disableClick {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #a7a7a7;
        opacity: 0.4;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        transition: width 0.2s ease-out;
        height: 40px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        left: 0;
        text-align: center;
        .menuFunc {
            float: right;
            height: 100%;
            line-height: 40px;
        }
        .footerShow {
            display: inline-block;
            float: left;
            height: 100%;
            line-height: 40px;
            width: 52px;
        }
        .stepName {
            display: inline-block;
            font-size: 17px !important;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
		    width: 200px;
		    height: 100%;
		    vertical-align: middle;
		    line-height: 35px;
		    text-align: right;
        }
        .fixCenter {
            display: inline-block;
		    width: 200px;
		    height: 100%;
		    vertical-align: middle;
        }
        .footerContainer {
            display: inline-block;
            height: 100%;
            .sliderCom {
                list-style: none;
                margin: 0;
                display: inline-block;
                height: 100%;
                line-height: 40px;
                padding: 0;
                li {
                    display: inline-block;
                    cursor: pointer;
                }
                .midEllipsis {
                    display: inline-block;
                    width: 100px;
                    height: 42px;
                    vertical-align: middle;
                }
                .leftEllipsis {
                    text-align: right;
                    width: 195px;
                    height: 42px;
                    vertical-align: middle;
                    display: inline-block;
                    >li {
                        margin-right: 3px;
                    }
                    [data-item] {
                        background-color: #F9833A;
                    }
                    [data-omit] {
                        color: #F9833A;
                        letter-spacing: 2px;
                    }
                }
                .rightEllipsis {
                    display: inline-block;
                    text-align: left;
                    height: 42px;
                    vertical-align: middle;
                    width: 195px;
                    >li {
                        margin-left: 3px;
                    }
                    [data-item] {
                        background-color: #9FA6B3;
                    }
                    [data-omit] {
                        color: #9FA6B3;
                        letter-spacing: 2px;
                    }
                }
                [data-currt] {
                    height: 30px;
                    width: 30px;
                    background-color: #FDB284;
                    border-radius: 50%;
                    color: white;
                    text-align: center;
                    line-height: 30px;
                    margin: 0 3px;
                    font-size: 16px !important;
                }
                [data-left-second] {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    background-color: #F9833A;
                    color: white;
                    border-radius: 50%;
                    margin: 0 3px 0 0;
                }
                [data-right-second] {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    background-color: #9FA6B3;
                    color: white;
                    border-radius: 50%;
                    margin: 0 0 0 3px;
                }
                [data-omit] {
                    height: 20px;
                    width: 30px;
                    font-size: 14px !important;
                    line-height: 20px;
                    text-align: center;
                }
                [data-item] {
                    width: 20px;
                    height: 20px;
                    color: white;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.guidePop {
    .popContainer {
        [data-step] {
            background-color: #FAC604;
            height: 20px;
            width: 20px;
            font-size: 16px !important;
            display: inline-block;
            line-height: 20px;
            color: white;
            text-align: center;
            border-radius: 5px;
            margin-right: 15px;
        }
    }
    .popFooter {
        height: 30px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        [data-before] {
            cursor: pointer;
            color: #F9833A;
        }
        [data-next] {
            cursor: pointer;
            color: #F9833A;
        }
    }
}