@import '../base/color.less';
.HyItemContent .cardGroup{
    padding:0;
    margin: 0;
}
.HyItemContent .ui.card, .ui.cards>.card{
    width:268px !important;
}
.HyItemContent .add-new{
    color:@color-label-normal;
    border: 1px dashed @border-normal !important;
    // background-color: @color-interaction-normal-deputy !important;
}
.HyItemContent .add-new .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.HyItemContent .cardContent{
    position: relative;
    width:100% !important;
}
.HyItemContent .cardContent .description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 25px!important;
    font-weight: 700;
}
.HyItemContent .itemClose{
    position: absolute;
    left: 94%;
    top: 1%;
    color:@background-table-head;
}
.HyItemContent .itemClose:hover{
    color:@border-error;
}
.HyItemContent .itemRecover{
    position: absolute;
    left: 94%;
    top: 1%;
    color:@color-button;
}
