.list-filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 200px;
  height: 100%;
  padding: 8px;
  background-color: white;
  & > .ui.input{
    width: 98%;
  }
}

.list-filter-icon{
  margin-top: 5px !important;
  cursor: default !important;
}

.list-filter-ul{
  width: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 6px 0 0 0;
  margin: 5px 0 0 0;
  border: 1px solid #9fa6b3;
}

.list-filter-li{
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
  &:hover, &.lfl-checked{
    background-color: #F9833A;
    color: white;
  }
}