.ui.dimmer.active.page.custom-load {
    z-index: 1901;
    background-color: transparent!important;
    .rond {
        height: auto;
        width: auto;
        min-width: 100px;
        min-height: 100px;
        border: 1px solid #333;
        border-radius: 50%;
        position: absolute;
        top: 45%;
        left: 45%;
        animation: rond 2s infinite;
        -webkit-animation: rond 2s infinite;
    }
    .ball {
        height: 10px;
        width: 10px;
        position: absolute;
        background-color: #333;
        border-radius: 50%;
        top: 0px;
        left: 20px;
    }
    .load{
        position: absolute;
        top: 50%;
        left: 46%;
        color: black;
        font-size: 16px!important;
    }
}

@keyframes rond {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rond {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}