@import "../base/color.less";


.ui.padding-0.margin-0.successmessage{
  background-color: #20bb44!important;
  border-color: #1fa340!important;
  >.ui.horizontal.segments{
    min-width: 140px;
    min-height: 36px;
    >.icon-segment{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0!important;
      width: 30px;
      font-size: 16px!important;
      border: none!important;
      color: @background-interaction-normal!important;
    }
    >.text-segment{
      display: flex;
      align-items: center;
      font-size: 14px!important;
      padding: 0!important;
      border: none!important;
      color: @background-interaction-normal!important;
    }
    >.button-segment{
      text-align: right;
      padding: 0!important;
      border: none!important;
    }
  }
}

.ui.modal{
  .confirm-content{
    display: flex;
    text-overflow: ellipsis;
    white-space: normal;
    min-height: 50px;
    flex-wrap: nowrap;
    align-items: stretch;
    >.confirm-content-ico {
      display: flex;
      width: 50px;
      align-items: center;
      justify-content: center;
    }
    >.confirm-content-text{
      flex-grow: 1;
      vertical-align: middle;
      padding: 19px 10px 17px 0;
      font-size: 14px!important;
    }
  }
}
