.HyModelBox{
    /* margin:30px; */
}
.HyModelBox-content{
    position: absolute;
    padding: 20px 0px 0px 20px !important;
    max-width:200px;
    max-height:400px;
}
.HyModelBox-Lstyle{
    position: relative;
    // margin-bottom: 15px;
    padding-bottom: 15px;
    max-height: 130px;
    width: 200px;
    overflow-y: auto;
    border-bottom: 2px dashed #ccc;
}
 .HyModelBox-Rstyle{
    position: relative;
    margin-bottom: 15px;
    max-height: 180px;
    width: 200px;
    overflow-y: auto;
    padding-top: 15px;
}
.HyModelBox-linecontent{
    width:188px;
    height:21px;
    display: flex;
}
.HyModelBox-checkbox{
    height: 20px;
    width: 125px;
}
.HyModelBox-checkbox label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.HyModelBox-Btn{
    position: relative;
   margin-left:30px !important;
   padding-bottom: 15px !important;
}
.HyModelBox-Btnstyle{
    margin:5px!important;
    border-radius: 5px !important;
    border:0px !important;
}