@import "../base/color.less";

.modal-confirm-btn {
    background-color: @use-packages-btn-hover !important;
    color: @background-interaction-normal !important;
    border-color: @use-packages-btn-hover !important;
}

.modal-cancel-btn {
    background-color: @background-interaction-normal !important;
    border-color: @background-menu !important;
    color: @color-label-normal !important;
}

.ui.dimmer.modals {
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1900;
    .ui.modal {
        display: flex !important;
        flex-direction: column;
        .modal_header.header {
            display: flex;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            background-color: #f0f3f7;
            border-bottom: none;
            flex-grow: 0;

            .modal_header_title {
                display: flex;
                flex: 1;
                width: calc(100% - 40px);
            }

            .help {
                display: inline-block;
                vertical-align: middle;
            }

            >i:first-child {
                margin-right: 10px;
                vertical-align: top;
                // margin-top: 12px;
            }

            i.icon {
                font-size: 18px;
                color: #6e777e;
            }

            .cancel.button {
                border: none;

                i.icon {
                    color: #b1b9c8;
                }
            }

            span.title {
                font-size: 16px !important;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .button.ui {
                float: right;
                margin: 0;
                padding: 0;
                margin-top: 11px;
                width: 18px;
                height: 18px;
                background-color: transparent;
            }
        }

        .modal_content.content {
            padding: 2px 20px;
            display: flex;
            flex-grow: 1;

            .ui.form {
                padding: 0;
            }

            .sub-view {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                min-height: 50px;

                .ui.form {
                    flex-grow: 0;
                }

                .table-main {
                    flex-grow: 1;
                    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
                }
            }

            .sub-view .modal_actions.actions {
                text-align: right;
                flex-grow: 0;
            }
        }

        .actions {
            button {
                background-color: @background-interaction-normal !important;
                border-color: @background-menu !important;
                color: @color-label-normal !important;
            }
        }

        .modal_actions.actions {
            border-top: none;
            background-color: #ffffff;
            padding-bottom: 10px;
            padding-top: 10px;

            .ui.button {
                width: 150px;
                height: 50px;
                font-size: 20px!important;
            }

            button:nth-child(1) {
                // background-color: @use-packages-btn-hover!important;
                // color: @background-interaction-normal!important;
                // border-color: @use-packages-btn-hover!important;
                .modal-confirm-btn;
            }

            button:nth-child(2) {
                // background-color: @background-interaction-normal!important;
                // border-color: @background-menu!important;
                // color: @color-label-normal!important;
                .modal-cancel-btn;
            }
        }

    }
}