.ui.segments.operframe{
  border: none;
  margin: 0;
}

.operframe-titleText{
  padding: 0 10px;
}

.operframe-title,
.operframe-title-left{
  display: flex;
  align-items: center;
}

.ui.segment.operframe-title{
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.segment.operframe-content{
  min-height: 100px;
  border: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.operframe-title-left{
  // width: 100%;
  flex: 1;
  overflow: visible;
}

.operframe-title-left .ui.button:not(.icon) > .icon:not(.button):not(.dropdown){
  margin: 0;
}

.operframe-title-button.ui.button.icon-button{
  margin-left: 10px;
}

.operframe-title-select{
  display: flex;
  line-height: 20px;
  font-family: ArialMT, SimHei !important;
  >div{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
  }
  >div:nth-child(1){
    width: auto;
    margin-right: 10px;
    cursor: inherit;
  }
  >div.operframe-currentPage{
    color: @background-interaction-normal;
    background-color: @color-button;
  }
}

.intoAccount-transaccount-notHandel.operframe-title-select div{
  cursor: inherit;
}

.chopage{
  width: 60px;
}

.ui.segment.operframe-content .operframe-content-info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  >div{
    display: flex;
    width: 190px;
    padding: 10px;
    flex-wrap: wrap;
    border:1px solid rgba(34, 36, 38, 0.15);
    margin-right: 5px;
    margin-bottom: 5px;
    >div{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  >div:nth-last-child(1){
     margin-right: 0;
  }
}

