@import "../base/color.less";

.ui.bottom.popup.palette-main{
  margin-top: 3px;
}

.palette{
  width: 210px;
}

.palette-model-bottom-item{
  width:15px;
  height: 15px;
  float: left;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}

.palette-input,.palette-input-not{
  width: 100%;
  margin-top: 5px;
}

.ui.input.palette-input input[type=text]{
  padding-top: 2px;
  padding-bottom: 2px;
}

.ui.input.palette-input-not input[type=text]{
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: red;
}