.hyphotosortcom {
	[name='border-dash'] {
		border: dashed 1px #d9d9d9;
		text-align: center;
		cursor: pointer;
		background-color: #fafafa;
		&:hover {
			border-color: #1890ff;
		}
	}
	.photoItem {
		width: calc(~'(100% - 80px) / 5');
		display: inline-block;
		height: 150px;
		margin-right: 20px; 
		vertical-align: middle;
		margin-bottom: 20px;
		position: relative;
		&:nth-child(5n) {
			margin-right: 0px !important;
		}
		&:hover {
			.turnLeft, .turnRight, .setting, .delete {
				display: inline-block !important;
			}			
		}
		>img {
			display: block;
			width: 100%;
			height: 100%;
		}
		.word {
			font-size: 15px !important;
		    margin: 10px;
		    display: block;
		    color: #999;
		}
		.logo {
			display: block;
		    font-size: 50px !important;
		    margin-top: 55px;
		    height: 30px;
		    color: #999;
		}
		.titleWord {
			position: absolute;
			display: inline-block;
			width: 38px;
			height: 22px;
			text-align: center;
			top: 0;
		    line-height: 22px;
		    background-color: #f9833a;
		    left: 0;
		    font-size: 13px !important;
		    color: white;
		    font-weight: bold;
		}
		.turnLeft {
		    position: absolute;
		    display: none;
		    left: 0;
		    top: 50px;
		    height: 40px;
		    width: 20px;
		    background-color: rgba(0, 0, 0, 0.4);
		    text-align: center;
		    line-height: 40px;
		    cursor: pointer;
		    color: white;
    		font-size: 17px !important;
		}
		.turnRight {
			position: absolute;
			right: 0;
			display: none;
			top: 50px;
		    height: 40px;
		    width: 20px;
		    background-color: rgba(0, 0, 0, 0.4);
		    text-align: center;
		    line-height: 40px;
		    cursor: pointer;
		    color: white;
    		font-size: 17px !important;
		}
		.setting {
			position: absolute;
			display: none;
			width: 100%;
			height: 30px;
			bottom: 0;
		    text-align: center;
		    cursor: pointer;
		    line-height: 30px;
		    color: white;
		    font-size: 14px !important;
		    background-color: rgba(0, 0, 0, 0.4);
		}
		.delete {
			position: absolute;
			display: none;
			height: 30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
		    right: 3px;
		    top: 3px;
		    cursor: pointer;
		    background-color: rgba(0, 0, 0, 0.4);
		    border-radius: 50%;
		    text-align: center;
		    padding-left: 3px;
		    >i {
				color: white;
			    font-size: 20px !important;		    	
		    }
		}
	}
}
