.HyPriceDate{
   border:1px solid #ccc;
   width:100%;
   height:300px;
}
.HyPriceDate .datetitle{
  margin-top: 10px;
  margin-bottom: 10px;
}
.HyPriceDate .total{
   height: 300px;
   /* overflow-y: auto; */
}
.HyPriceDate .price{
  display: flex;
  padding:0;
  margin:0;
  width:100%;
  flex-flow: row wrap;
  flex-wrap: inherit;
}
.HyPriceDate .price .lititle{
  width:14.2857%;
  height:20px;
  background: #eceaea;
  text-align: center;
  border:1px solid #ccc;
}
/* .HyPriceDate .price:nth-last-child(2){
  border-right:none;
} */
.HyPriceDate .priceinfo{
  display: flex;
  padding:0;
  margin:0;
  width:100%;
  flex-flow: row wrap;
}
.HyPriceDate .infomation{
  height: 300px;
}
// .HyPriceDate .scrollwidth{
//   width:9px;
//   background:#f3f3f3;
// }
.HyPriceDate .empty{
  width:14.2857%;
  height:70px;
  border:1px solid #ccc;
}
.HyPriceDate .fact{
  width:14.2857%;
  height:70px;
  border:1px solid #ccc;
}
.HyPriceDate .fact .head{
  width:100%;
  height:28%;
  /* background: #eceaea; */
}
.HyPriceDate .fact .body{
  width:100%;
  height:72%;
}
.HyPriceDate .style{
 color: #FF6600
}
.HyPriceDate .daycolor{
  background:#f3f3f3;
}
