@import '../base/color.less';

.hyquerycom{
  line-height: 24px;
  &>span{
    color: @color-button;
    padding: 0 20px 0 10px;
  }
  &>.ui.checkbox{
    margin-right: 10px;
  }

  // .ui.button.querycom-button{
  //   color: @color-interaction-normal;
  //   background-color: @bgcolor-transparent;
  //   border: none;
  //   padding: 5px 10px;
  // }
  // .ui.button.querycom-button.querycom-selected-button{
  //   border:1px solid @color-button;
  // }
  .ui.button{
    float: right;
  }
}