//多开关组件样式 水平样式
.HyRatingCom-H{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.HyRatingCom-H .h-item{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100px;
  width: 100px;
  cursor: pointer;
}
.HyRatingCom-H .title-text{
  color:#cccccc;
  text-align: center;
}
.HyRatingCom-H .lines{
  background-color:#f1f3f6;
  height: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.HyRatingCom-H .h-item:hover .Hbtn {
  display: block;
}
.HyRatingCom-H .h-item:hover .title-text {
  color: #f9833a;
}
.HyRatingCom-H .heardline{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.HyRatingCom-H .lastline{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.HyRatingCom-H .Hbtn{
  height: 22px;
  width: 22px;
  font-size: 3px !important;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  background: transparent!important;
  border: 0px solid transparent!important;
  white-space: nowrap;
  position: absolute;
  display: none;
  font-weight: 500;
  line-height: 0px;
}

.HyRatingCom-H .Active{
  display:block;
}
.HyRatingCom-H .ActivelineColor{
  background-color: #f9833a;
}
.HyRatingCom-H .ActiveFontColor{
  color: #f9833a;
}

//开关组件 垂直样式
.HyRatingCom-V{
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.HyRatingCom-V .titleHeard{
  width: 100px;
  padding-bottom: 18px;
}

.HyRatingCom-V .v-item{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 100px;
  width: 100px;
  cursor: pointer;
  align-items: center;
}

.HyRatingCom-V .title-text{
  color:#cccccc;
  text-align: center;
}


.HyRatingCom-V .v-item:hover .title-text {
  color: #f9833a;
}


.HyRatingCom-V .Vbtn{
  height: 34px;
  width: 22px;
  font-size: 3px !important;
  padding: 0!important;
  margin: 0;
  border-radius: 3px;
  background: transparent!important;
  border: 0px solid transparent!important;
  white-space: nowrap;
  position: absolute;
  display: none;
  font-weight: 500;
  line-height: 0px;
}

.HyRatingCom-V .lines{
  width: 11px;
  height: 50px;
  background-color:#f1f3f6;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.HyRatingCom-V .Active{
  display:block;
}
.HyRatingCom-V .ActivelineColor{
  background-color: #f9833a;
}
.HyRatingCom-V .ActiveFontColor{
  color: #f9833a;
}

.HyRatingCom-V .h-heardline{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.HyRatingCom-V .h-lastline{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}