.HySketchColorCom {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.HySketchColorCom .ui.input{
  width: 100px!important;
   input[type=text]{
    font-weight: 600;
    text-align: center;
  }
}