@import '../base/color.less';
.HyTabs {
    // width:100%;
    flex-grow: 1;
    width: calc(~'100% - 52px');
}

.HyTabs .ui.tabular.menu .item {
    color: @color-label-normal !important;
    margin-bottom: 1px !important;
}

.HyTabs .ui.tabular.menu .active.item {
    background: none @background-active !important;
    color: #000 !important;
    border-top: 2px solid @color-button;
    margin-bottom: -1px !important;
}

.HyTabs i.icon,
i.icons {
    font-size: 1.2em;
}

.HyTabs-close {
    color: @topmenu-btn-active !important; // height: auto !important;
}

.HyTabs-close-right{
    color:#BBC7CF !important;
}

.messageTotal{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    color: white;
    background: #BBC7CF;
    text-align: center;
    line-height: 10px;
    position: fixed;
    left: 137px;
}

.HyTabs .ui.horizontal.segments.tabContainer {
    // display: flex;
    // flex-direction: row;
//  width: calc(~'100% - 180px');
    overflow: hidden;
    height: 46px !important;
    box-shadow: none;
    border: none !important;
    margin: 0px !important;
    .helpShadow {
    	box-shadow: 4px -2px 5px #f7f5f5;
    }
}

.HyTabs-iconhome {
    margin: 0 !important;
    padding: 0px !important;
}

// .HyTabs-tabs {

//     padding: 0px !important;
//     overflow: hidden;
//     border: none !important;
//     height: 46px;
// }

.HyTabs .tabData {
    display:inline-flex;
    overflow: hidden;
    width: calc(~'100% - 300px');
    white-space: nowrap;
    border: none !important;
    box-shadow: none !important;
    height: 46px;
    border-radius: 0 !important;
}

.HyTabs .tabSegment {
    flex: none !important;
    text-align: center;
    border-left: none !important;
    cursor: pointer !important;
    width: 110px !important;
    padding-top: 1.2em;
    white-space: nowrap;
    padding-right: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    .home {
        font-size: 21px !important;
        color: grey;
    }
}

.HyTabs .home {
    width: 60px !important;
    overflow: initial !important;
    padding-left: 17px !important;
}

.HyTabs .tabicon {
    position: absolute;
    width: 15px;
    height: 20px;
    margin-right:5px;
    right: 3px;
}

.HyTabs .btnactive {
//  border-top: 2px solid @color-button !important;
    background: @topmenu-background-active !important;
    position: relative;
    color: @topmenu-active;
    &:before {
        content: '';
        position: absolute;
        background-color: @topmenu-border-active;
        height: 2px;
        width: 100%;
        left: 0;
        top: 0;
    }
}
.HyTabs .hoveractive{
    background: @topmenu-background-active !important;
}
.HyTabs-list {
    position: fixed !important;
    padding-top: 0px !important;
    border-left: 0px !important;
    padding: 0px !important;
    width: 175px !important;
    right: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    height: 46px;
    line-height: 30px;
    [data-bottom] {
    	border-left: 1px solid #ccc !important;
	    height: 16px;
	    line-height: 16px;
	    padding-left: 20px;
	    >span {
	    	overflow: hidden;
	    	text-overflow: ellipsis;
	    	white-space: nowrap;
	    	display: inline-block;
	    }
	    >span:first-child {
	    	width: 60px;
	    }
	    >span:last-child {
	    	margin-left: 5px;
	    	width: 88px;
	    }
    }
    .redCircle{
        width:6px;
        height:6px;
        border-radius: 50%;
        background: red;
        //display: block;
        position: absolute;
        top: 8px;
        left: 151px;
    }
}

.HyTabs-list>div[data-top] {
    display: flex;
    height: 30px;
    width: 160px !important; // border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}

.hytab-listicon {
    height: 28px !important;
    color: #333 !important;
    background: transparent !important;
    border: 0px !important;
    border-radius: 0 !important;
    padding: 0px 8px 0 8px !important;
    margin: 2px 0px 0 10px!important;
}

.HyTabs-listcontainer .HyTabs-listcontent .item .currentIcon {
    display: table-cell !important;
    width: 18px;
}

.HyTabs-listcontainer .HyTabs-listcontent .item .closeIcon {
    display: table-cell !important;
    width: 18px;

}

.HyTabs-currentTab {
    color: @color-button;
}

.leftIcon {
    // transform: rotate(180deg);
    // margin-left:5px !important;
    // padding-top:10px !important;
}

.rightIcon {}

.hytab-listicon:hover {
    background: #f1f3f6 !important;
}

.hytab-home {
    width: 100%;
    height: 46px !important;
    margin: 0px !important;
    color: @color-label-normal !important;
    border: 0px !important;
    background: transparent !important;
    border-radius: 0 !important;
}

.HyTabs-listcontainer {
    width: 160px !important;
}

.HyTabs-listcontainer.arrow{
    position: fixed !important;
    top: 25px !important;
    background: #f1f3f6 !important;
    padding-top: 3px !important;
}

.HyTabs-listcontainer.arrow::before{
    height:0 !important;
}

.HyTabs-listcontainer .HyTabs-listcontent {
    display: block;
    height: 300px;
    width: 145px;
    overflow-y: auto;
    padding-top: 5px !important;
    padding-bottom: 15px !important;
    padding-left: 5px;
}

.messageContent{
    height: auto !important;
    .contentMove{
        cursor:pointer !important;
    }
}

.HyTabs-listcontainer .HyTabs-listcontent .item {
    width: 132px;
    display: table;
}

.HyTabs-listcontainer .ui.list .list>.item>.content,
.HyTabs-listcontainer .ui.list>.item>.content {
    width: 80px;
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.HyTabs-listcontainer .ui.list .list>.item>i.icon,
.HyTabs-listcontainer .ui.list>.item>i.icon {
    padding-left: 10px;
}

.HyTabs-listcontainer .ui.list .list>.item,
.HyTabs-listcontainer .ui.list>.item,
.HyTabs-listcontainer ol.ui.list li,
ul.ui.list li {
    height: 14px;
    padding: 8px;
    border-bottom: 1px solid #d8dce2;
}