/*
POS桌台组件
*/
@import '../base/color.less';

.HyTableItemCom {
  width: 238px;
  height: 167px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px !important;

  .font-head {
    font-size: 20px !important;
    font-weight: 700;
  }

  .title-Div {
    width: 100%;
    display: flex;
    padding: 5px 0px;
    justify-content: center;
  }

  .selectedioc {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .topSum {
    position: absolute;
    top: -7px;
    right: -7px;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 45px;
    border: 1px red;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.HyTableItemCom:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);
}

//默认
.HyTableItemCom.block_stus {
  background-color: #DDD !important;
}

//空闲
.HyTableItemCom.block_stus_0 {
  background-color: @block_stus_free  !important;
}

//占用
.HyTableItemCom.block_stus_1 {
  background-color: @block_stus_occupy  !important;
}

//占用
.HyTableItemCom.block_stus_2 {
  background-color: #bdd7ee !important;
}



.HyTableItemCom.selected {
  border: 2px solid @color-button-active;

  .topSum {
    top: -9px !important;
    right: -9px !important;
  }
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .HyTableItemCom {
    width: 200px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1024px) {
  .HyTableItemCom {
    width: 212px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1280px) {
  .HyTableItemCom {
    width: 219px;
  }
}

@media (min-width: 1360px) {
  .HyTableItemCom {
    width: 235px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1366px) {
  .HyTableItemCom {
    width: 236px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1440px) {
  .HyTableItemCom {
    width: 251px;
  }
}

@media (min-width: 1536px) {
  .HyTableItemCom {
    width: 270px;
  }
}

@media (min-width: 1600px) {
  .HyTableItemCom {
    width: 283px;
  }
}

@media (min-width: 1668px) {
  .HyTableItemCom {
    width: 296px;
  }
}

@media (min-width: 2048px) {
  .HyTableItemCom {
    width: 308px;
  }
}


@media (min-width: 2388px) {
  .HyTableItemCom {
    width: 311px;
  }
}

@media (min-width: 2732px) {
  .HyTableItemCom {
    width: 314px;
  }
}

//--------------排餐使用
@widthUsing:20px;


.HyTableItemComUsing {
  width: 238px;
  height: 167px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px !important;

  .font-head {
    font-size: 20px !important;
    font-weight: 700;
  }

  .title-Div {
    width: 100%;
    display: flex;
    padding: 5px 0px;
    justify-content: center;
  }

  .selectedioc {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .topSum {
    position: absolute;
    top: -7px;
    right: -7px;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 45px;
    border: 1px red;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.HyTableItemComUsing:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);
}

//默认
.HyTableItemComUsing.block_stus {
  background-color: #DDD !important;
}

//空闲
.HyTableItemComUsing.block_stus_0 {
  background-color: @block_stus_free  !important;
}

//占用
.HyTableItemComUsing.block_stus_1 {
  background-color: @block_stus_occupy  !important;
}

//占用
.HyTableItemComUsing.block_stus_2 {
  background-color: #bdd7ee !important;
}



.HyTableItemComUsing.selected {
  border: 2px solid @color-button-active;

  .topSum {
    top: -9px !important;
    right: -9px !important;
  }
}


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .HyTableItemComUsing {
    width: 176px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1024px) {
  .HyTableItemComUsing {
    width: 212px - @widthUsing;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1280px) {
  .HyTableItemComUsing {
    width: 219px - @widthUsing;
  }
}

@media (min-width: 1360px) {
  .HyTableItemComUsing {
    width: 235px - @widthUsing;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1366px) {
  .HyTableItemComUsing {
    width: 236px - @widthUsing;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1440px) {
  .HyTableItemComUsing {
    width: 251px - @widthUsing;
  }
}

@media (min-width: 1536px) {
  .HyTableItemComUsing {
    width: 270px - @widthUsing;
  }
}

@media (min-width: 1600px) {
  .HyTableItemComUsing {
    width: 283px - @widthUsing;
  }
}

@media (min-width: 1668px) {
  .HyTableItemComUsing {
    width: 296px - @widthUsing;
  }
}

@media (min-width: 2048px) {
  .HyTableItemComUsing {
    width: 308px - @widthUsing;
  }
}


@media (min-width: 2388px) {
  .HyTableItemComUsing {
    width: 311px - @widthUsing;
  }
}

@media (min-width: 2732px) {
  .HyTableItemComUsing {
    width: 314px - @widthUsing;
  }
}