@import "../base/color.less";


.time_selector.ui.input input {
    width: 100%;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.time_selector.ui.input input::-webkit-input-placeholder {
    color:   @color-interaction-normal;
}
.time_selector.ui.input input:-moz-placeholder {
    color:   @color-interaction-normal;
}
.time_selector.ui.input input::-moz-placeholder {
    color:    @color-interaction-normal;
}
.time_selector.ui.input input:-ms-input-placeholder {
    color:    @color-interaction-normal;
}

.selector_menu.ui.popup {
    margin-top: 0;
    border-top-left-radius: 0;
    box-shadow: 0 0 0 0;
    width: 113px !important;
    padding: 0;
    border:1px solid @border-normal !important;

    .popup_segments.ui.segments {
        margin: 0;
        width: 112px;
        height: 142px;
        border: none;
        box-shadow: 0 0 0 0;

        .segment.ui {
            padding: 0;
            text-align: center;
            border: none;
        }

        .list {
            height: 138px;
            overflow: auto;

            .item {
                cursor: pointer;
            }

            .item:hover {
                background: #f3f3f3;
            }

            .active{
                background-color: rgb(170, 231, 231);
            }

            .active:hover {
                background: rgb(170, 231, 231);
            }
        }
    }

    .popup_button {
        position: relative;
        width: 112px;
        height: 26px;
        padding-top: 4px;

        .button {
            cursor: pointer;
            width: 40px;
            height: 20px;
            border: 1px solid;
            border-radius: 5px;
            text-align: center;
            line-height: 18px;
            color: white;
        }

        .cancel {
            position: absolute;
            right: 8px;
            background-color: #c25050;
            border-color: #c25050;
        }

        .sure {
            position: absolute;
            left: 8px;
            background-color: #39af96;
            border-color: #39af96;
        }
    }


}









