@import '../base/color';
.hyinputselectcom.multiple{
  display: flex;
  position: relative;
  width: 100%;
  .ui.multiple.dropdown.visible{
    position: absolute;
    flex: 1;
    width: 100%;
    min-width: 119px;
    padding-right: 40px;
  }
  .hyinputselectcom-select{
    padding-top: 6px;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 1;
    overflow: hidden;
    a{
      display: inline-flex;
      max-width: 100%;
      color: rgba(0, 0, 0, 0.87);
      background: @f2f2f2;
      margin-right: 3px;
    }
    a:hover{
      color: rgba(0, 0, 0, 0.87);
      background: @f2f2f2;
    }
  }
  .hyinputselectcom-select-menu{
    position: absolute;
    top: 28px;
    left: 0;
    overflow: auto;
    z-index: 11;
    width: auto;
    min-width: 100%;
    height: 200px;
    max-height: 200px;
    padding-top: 10px;
    border: 1px solid @border-normal;
    background: @background-active;
    div{
      display: inline-flex;
      padding: 5px;
    }
    div:hover{
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

//增加当前选中样式
.hyinputselectcom.activeItemClass{
  .ui.visible.multiple.selection.dropdown{
    border-bottom: 2px solid @color-button!important;

  }
}