@import "../base/color.less";
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left-color: @border-normal;
}

.ui.input input{
    height: 28px;
    line-height: 28px !important;
}

.ui.input input[type=number] {
    padding-right: 0 !important;
    line-height: 1.21428571em !important;
}

// .ui.label:first-child {
//     padding-top: .58571429em;
// }
.ui.input input:not([type]),
.ui.input input[type=date],
.ui.input input[type=datetime-local],
.ui.input input[type=email],
.ui.input input[type=file],
.ui.input input[type=number],
.ui.input input[type=password],
.ui.input input[type=search],
.ui.input input[type=tel],
.ui.input input[type=text],
.ui.input input[type=time],
.ui.input input[type=url] {
    border-radius: 2px;
    border: 1px solid @border-normal;
    padding: 6.5px 8px;
    background-color: @background-interaction-normal;
    color: @color-interaction-normal;
}

.ui.input input:not([type]):focus,
.ui.input input[type=date]:focus,
.ui.input input[type=datetime-local]:focus,
.ui.input input[type=email]:focus,
.ui.input input[type=file]:focus,
.ui.input input[type=number]:focus,
.ui.input input[type=password]:focus,
.ui.input input[type=search]:focus,
.ui.input input[type=tel]:focus,
.ui.input input[type=text]:focus,
.ui.input input[type=time]:focus,
.ui.input input[type=url]:focus,
.ui.selection.active.dropdown,
.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu,
.ui.multiple.selection.dropdown:focus,
.ui.form textarea:focus {
    border-color: @border-normal;
}

.ui.icon.input {
    .icon.icon1 {
        top: 4px;
        right: 3px;
    }
    i.icon{
        width: 25px;
    }
}

.ui.icon2.input {
    .icon.icon1 {
        top: 4px;
        right: 3px;
    }
    .icon.icon2 {
        top: 4px;
        right: 26px;
    }
}

.label_words_2 .ui.icon.input,
.ui.icon.input.label_words_2 {
    >input {
        width: calc(~"100% - 44px") !important;
        padding-right: 20px !important;
    }
}

.label_words_2 .ui.icon2.input,
.ui.icon2.input.label_words_2 {
    >input {
        width: calc(~"100% - 44px") !important;
        padding-right: 48px !important;
    }
}

.label_words_3 .ui.icon.input,
.ui.icon.input.label_words_3 {
    >input {
        width: calc(~"100% - 56px") !important;
        padding-right: 25px !important;
    }
}

.label_words_3 .ui.icon2.input,
.ui.icon2.input.label_words_3 {
    >input {
        width: calc(~"100% - 56px") !important;
        padding-right: 48px !important;
    }
}

.label_words_4 .ui.icon.input,
.ui.icon.input.label_words_4 {
    >input {
        width: calc(~"100% - 68px") !important;
        padding-right: 25px !important;
    }
}

.label_words_4 .ui.icon2.input,
.ui.icon2.input.label_words_4 {
    >input {
        width: calc(~"100% - 68px") !important;
        padding-right: 48px !important;
    }
}

.label_words_5 .ui.icon.input,
.ui.icon.input.label_words_5 {
    >input {
        width: calc(~"100% - 80px") !important;
        padding-right: 25px !important;
    }
}

.label_words_5 .ui.icon2.input,
.ui.icon2.input.label_words_5 {
    >input {
        width: calc(~"100% - 80px") !important;
        padding-right: 48px !important;
    }
}

.activeInputClass{
    border-bottom: 1px solid @color-button!important;
}