@import "../base/color.less";

.ui.label{
  padding:7.5px 10px;
  margin: 0 0;
  background-color: transparent;
  font-weight: normal!important;
  color: @color-label-normal!important;
}

.ui.labeled.input > .label:not(.corner){
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}