@import "../base/color.less";
.pricedate{
  width:100%;
  height:320px;
  border:1px solid @color-interaction-normal-deputy;
  // border-left: none;
  border-bottom: none;
}
.pricedate .datetitle{
 margin-top: 10px;
 margin-bottom: 10px;
}
.pricedate .total{
  height: 320px;
  /* overflow-y: auto; */
}
.pricedate .price{
 display: flex;
 flex-flow: row wrap;
 flex-wrap: inherit;
 width:100%;
 padding:0;
 margin:0;
}
.pricedate .price .lititle{
 width:14.2857%;
 height:20px;
 background: @color-eceff2;
 text-align: center;
 border-left:1px solid @color-interaction-normal-deputy;
 border-bottom:1px solid @color-interaction-normal-deputy;
}

.pricedate .price .lititle:nth-child(1){
  border-left: none;
}

.pricedate .priceinfo{
 display: flex;
 padding:0;
 margin:0;
 width:100%;
 flex-flow: row wrap;
}
.pricedate .infomation{
 height: 300px;
}

.pricedate .empty{
 width:14.2857%;
 height:70px;
 border-bottom: 1px solid @color-interaction-normal-deputy;
 border-left: 1px solid @color-interaction-normal-deputy;
}
.pricedate .fact{
 width:14.2857%;
 height:70px;
 border-bottom: 1px solid @color-interaction-normal-deputy;
 border-left: 1px solid @color-interaction-normal-deputy;
}
.pricedate .fact .head{
 width:100%;
 height:28%;
 /* background: #eceaea; */
}
.pricedate .fact .body{
 width:100%;
 height:72%;
}
.pricedate .style{
color: @color-button;
}
.pricedate .daycolor{
 background:@bgcolor-specialpay;
}

 .pricedate .infomation .priceinfo .daycolor:nth-child(7n+1){
   border-left: none;
 }

.pricedate .scroll-main{
  height: 100%
}

.pricedate ul li{
  list-style: none;
}


