@import "../base/color.less";

@media (min-width:1281px) {
    .rightoper-menu {
        width: 62px !important;
    }
}

@media (max-width:1280px) {
    .rightoper-menu {
        width: 40px !important;
    }
}

.ui.menu.rightoper-menu {
    display: flex;
    flex-direction: column;
    height: calc(~"100% - 61px");
    min-height: 425px;
    text-align: center;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: @bgcolor-transparent;

    .top {
        flex-grow: 0;
        //background-image: url('../../images/right-oper-top.png');
        //background-repeat: no-repeat;
        height: 21px;
        width: 100%;
        background-color: @color-button;
        border-top-left-radius: 10px;
    }

    .top-logo {
        flex-grow: 0;
        background-image: url('../../images/siyecao-new.png');
        background-repeat: no-repeat;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 35px;
        background-color: @background-interaction-normal;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background-position: center;
    }

    .menu {
        flex-grow: 0;
        padding: 10px 0 0 0;
    }

    .menu-center {
        flex-grow: 1;
        border-bottom-left-radius: 10px;
        background-color: @background-interaction-normal;
    }

    .item {
        padding: 0px 0px !important;
        margin: 5px 0px;
        width: 100%;
        height: 44px;
        background-color: @color-button!important;
        border-radius: 10px!important;
        .ui.icon.button {
            font-size: 14px !important;
            padding: 0 !important;
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 5px 1px;
            border: none;
            border-radius: 10px!important;
            background-color: @posBtnColor;
            color: @color-interaction-normal;

            span {
                display: block;
                font-weight: normal;
            }

            >i {
                padding: 0;
                margin: 0;
            }

            .ui.mini.floating.label {
                font-size: 9px !important;
                top: -.5em;
                left: 90%;
                padding: .3em !important;
                min-width: 9px;
                min-height: 9px;
            }
        }

        >.ui.button.hover:hover {
            color: @color-interaction-normal;
            background-color: @bgcolor-transparent;
        }
    }

    .item.active,
    .item.subset.active,
    .item.active .ui.button,
    .item.active:hover,
    .item.active:hover .ui.button {
        background-color: @color-button-fixed;
        color: @background-interaction-normal;
        font-weight: 200;

        .subset-icon {
            border-left-color: @background-interaction-normal;
        }
    }

    @media (max-width:1280px) {
        .item.active-tri .tri-icon {
            width: 0px;
            height: 0px;
            border-top: 6px solid transparent;
            border-left: 6px solid @background-menu;
            border-bottom: 6px solid transparent;
            position: absolute;
            top: 15px;
            z-index: 1;
        }
    }

    @media (min-width:1281px) {
        .item.active-tri .tri-icon {
            width: 0px;
            height: 0px;
        }
    }

    .item.subset .subset-icon {
        width: 0px;
        height: 0px;
        border-bottom: 6px solid transparent;
        border-left: 6px solid @background-menu;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 1;
    }
}

.rightoper-portal {
    .prompt-portal {
        padding: 0 0 0 10px;
        width: 90px;
        height: 44px;
        line-height: 44px;
        color: @background-interaction-normal;
        background-color: @background-menu;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .menu-portal {
        padding: 0;
        width: 116px;
        height: auto;
        color: @color-interaction-normal;
        background-color: @background-interaction-normal;
        z-index: 10;

        .ui.vertical.menu {
            width: 100%;

            >.item:last-child {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0.285714rem;
            }

            >.item:first-child {
                border-bottom-right-radius: 0;
            }

            .item {
                width: 100%;
                height: 43px;
                margin: 0;
                padding: 0;

                .ui.button {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border: 0;
                    border-radius: 0;
                    box-shadow: 0;
                    background-color: @bgcolor-transparent;
                    color: @color-interaction-normal;

                    span {
                        padding: 3px 0 0 3px;
                        width: 75px;
                        display: inline-block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: normal;
                    }
                }

                .ui.button:hover {
                    background-color: @color-button-fixed;
                    color: @background-interaction-normal;
                }
            }
        }
    }
}