// 自定义滚动条样式
.customscroll-vertical-track {
  background-color: transparent;
  width: 8px;
  transition: opacity 0.3s;
  z-index: 9;
}

.customscroll-horizontal-track {
  background-color: transparent;
  height: 10px;
  transition: opacity 0.3s;
  z-index: 9;
}

.customscroll-vertical-handler {
  width: 8px;
  right: 1px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  &:hover {
      background-color: rgba(0, 0, 0, 0.8);
  }
}

.customscroll-horizontal-handler {
  height: 8px;
  bottom: 1px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  &:hover {
      background-color: rgba(0, 0, 0, 0.8);
  }
}

.scroll-main{
  flex-grow: 1;
}