.ui.attached.segment {
    width: calc(~"100% + 2px");
    max-width: calc(~"100% + 2px");
}

.ui.segment{
  &.segment-header{
    height: 40px;
    padding: 10px 10px 0 10px;
    .title{
      font-size: 14px!important;
    }
  }
}

.ui.horizontal.segments.transparent{
  background-color: transparent!important;
}