@import '../base/color.less';

/* #region hybasetablecom样式 */
.ui.checkbox.table-checkbox{
  vertical-align: middle;
}
/* #endregion */

/* #region hytablecom 主样式*/
.table-main{
  position: relative;
  display: flex;
  flex-grow: 1;
}

.ui.segment-main{
  flex-grow: 1;
  margin: 0 !important;
  box-shadow: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;

  //border:none !important;
}

.ui.segments > .ui.segments.segment-group-table{
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  &>.segment-table {
    padding: 0;
    border: none;
    display: flex;
    .table-custom{
      border: none;
    }
  }
}

.segment-table .ui.table thead th,
.segment-table .ui.table td{
  padding: 0 5px;
  height: 30px;
  font-weight: normal !important;
}

.segment-table-body .ui.table tr td:last-child{
  padding: 0 10px;
}

//td文字溢出处理
.td-text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.segment-table .ui.table thead th{
  background: @background-table-head;
  border-radius: 0 !important;
  border: none;
}

.segments.segment-group-table > .segment-table-header{
  height: 30px;
}

.segments.segment-group-table > .segment-table-body{
  flex-grow: 1;
}

.segments.group-table-left,
.segments.group-table-right{
  flex-shrink: 0;
  box-shadow: none !important;
}

.segments.group-table-content{
  box-shadow: none !important;
  flex-grow: 1;
  &>.segment-table .table-custom{
    table-layout: fixed;
  }
  &>.segment-table-header > .FreeScrollbar > .FreeScrollbar-container{
    bottom: -18px !important;
  }
}

/* #endregion */

/* #region table 鼠标移入背景色*/
.tb-tr-hover{
  background-color: @table-hover-color;
}
/* #endregion */

/* #region table 选中背景色*/
.tb-tr-checked{
  background-color: @table-checked-color;
}
/* #endregion */

/* #region table选中并鼠标划过时*/
.tb-tr-checked-hover{
  background-color: @table-checkd-hover-color !important;
}
/* #endregion */

/* #region table里面的hymodalbox样式*/
  .HyModelBox.table-modalbox{
    margin: 0;
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 1;
  }
/* #endregion */

/* #region  table里面行内编辑时的样式*/
  .table-custom .ui.input{
    width: 100% !important;
    height: 28px;
    &>.label{
      padding: 10px 5px 10px 0 !important;
    }
  }
/* #endregion */


.tb-tip-text{
  position: absolute;
  bottom: 0.6em;
  visibility: hidden;
}