.Plugin-COM{
  height: 100%;
  overflow: auto;
  width: 250px;
  padding-bottom: 36px;
}

.Plugin-COM .PluginItem{
  width: 250px;
  margin-bottom: 5px;
  background-color: @color-error;
}

.PluginItem .ui.button{
  width: 65px;
  height: 60px;
  font-size: 12px !important;
  padding: 5px 0px 0px 0px !important;
  margin: 7px 9px;
  border: none;
  border-radius: 10px!important;
  background-color:@posBtnColor!important;
  color: @color-label-normal;
}

.PluginItem .ui.button:hover{
  background-color: @color-button-focus!important;
  color: @background-interaction-normal!important;
}

.PluginItem .ui.button:hover .spnaSubText{
  color: @background-interaction-normal!important;
}


.PluginItem .ui.button:active{
  background-color: @color-button-active;
  color: @background-interaction-normal;
}


.PluginItem .ui.button:active .spnaSubText{
  color: @background-interaction-normal;
}


.PluginItem .spnaText{
  display: block;
  font-weight:400;
  width: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-bottom: 2px;
  height: 19px;
}

.PluginItem .spnaSubText{
  display: block;
  font-weight:400;
  width: 65px;
  color: @color-keyboard;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 3px;
  height: 15px;
}

.preauthorization-content-span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.preauthorization-content-span-createdName,
.preauthorization-content-span-cardtrnName{
  color: @color-red;
}



