.Msubsalespointselection {
  min-height: 300px;
  .point-div {
    min-height: 170px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .item-div {
    width: 216px;
    height: 68px;
    cursor: pointer;
    background-color: #f2f2f2;
    margin: 5px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 30px!important;
    font-weight: 700;
  }

  .item-div:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .35);
  }

  .selected {
    border: 2px solid @color-button-active;
  }

  .selectedioc {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

}