.UsingPackage {
  width: 100%;
  height: 100%;

  .memo-font{
    font-size: 18px!important;
    font-weight: 600;
  }
}



.P-class {
  font-size: 17px;
  font-weight: 700;
}

.UsingPackage .msg {
  margin: 0;
  display: flex;
  font-size: 25px !important;
  font-weight: 700;
  flex-direction: row;

  >p {
    margin-right: 20px;
    margin-bottom: 5px;
  }
}

.UsingPackage .msg_info{
  font-size: 25px !important;
  font-weight: 700;
}

.UsingPackage .title {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(34, 36, 38, 0.15);
  justify-content: space-between;

  >p {
    font-size: 20px;
    font-weight: 500;
  }

  span {
    font-size: 25px !important;
    font-weight: 700;
  }
}

.UsingPackage .title .line {
  width: 3px;
  background-color: darkorange;
  margin-right: 5px;
}

.UsingPackage .title .startview {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.UsingPackage .title .postview {
  width: auto;
  min-width: 100px;
  height: 35px;
  border: 1px solid #293E56;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UsingPackage .container {
  margin-left: 0px;
  margin-right: 0px;
  height: 240px;
  max-height: 240px;
  overflow-y: auto;
}

.UsingPackage .container .cardGroup .ui.card {
  width: 300px !important;
  transform: translateY(0px) !important;
}

.UsingPackage .container .cardGroup .ui.card .content.cardContent {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #BDD7EE;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;

  &>div:nth-child(1) {
    display: inline;
    float: left;
    // margin-right: 20px;
  }

  &>div:nth-child(2) {
    // display: inline;
  }
}

.UsingPackage .submitCount.hybtninputcom {
  margin-top: 5px;

  &>.ui.input {
    width: 70% !important;
    height: auto;

    &>input {
      height: 50px !important;
      font-size: 38px !important;
      font-weight: 700;
    }
  }
}

.UsingPackage .sum {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;

  &>p {
    &>span {
      margin-right: 20px;
    }
  }
}

.UsingPackage .all {
  display: inline-block;
  margin-left: 0px;
}

.UsingPackage .HyItemContent .ui.card .hybtninputcom {
  width: auto;
  padding-right: 0;
}

.UsingPackage .HyItemContent .ui.card .cardContent>div {
  justify-content: center;
}

.UsingPackage .HyItemContent .ui.card .cardContent .button {
  display: inline;
  background-color: transparent;
  border: 0px;

  &>i {
    background-size: 50px 50px;
  }
}

.UsingPackage .HyItemContent .ui.card .cardContent .button i.icon14 {
  width: 20px !important;
  height: 20px !important;
  background-size: 20px 20px;
}

.UsingPackage .sum .totalInfo {
  height: 30px;

  //overflow: auto;
  span {
    font-size: 25px !important;
    font-weight: 700;
  }
}

.UsingPackage {
  .selected-btn.ui.button {
    background-color: @color-font-color-skin  !important;
    color: #fff !important;
    padding: 2px 5px !important;
    margin: 3px 23px !important;
    height: 20px !important;
    border-radius: 0 !important;
  }
}

.UsingPackage .getRoomCom {
  margin-left: 0px;
  margin-right: 0px;
  height: 240px;
  max-height: 240px;
  overflow-y: auto;
  display: flex;
}

.UsingPackage .HyTableItemCom .title-Div {
  display: block !important;
  font-size: 20px !important;
  font-weight: 700;
}

.UsingPackage .Using_package {
  display: flex;
  justify-content: flex-start;
  padding: 5px;

  >div:nth-child(0) {
    text-align: left;
  }

  >div:nth-child(2) {
    text-align: center;
  }

  >div:nth-child(3) {
    text-align: center;
  }
}