.hycontentitem-edit,.hycontentitem {
    padding-top: 10px;
    height: 34px;
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.349019);
    margin: 5px 8px;
    display: inline-block;
    position: relative;
}
.hycontentitem-div-width{
  margin: 5px 8px;
  width:-moz-calc(100% - 7px);
  width:-webkit-calc(100% - 7px);
  width: calc(100% - 7px);
}
.hycontentitem-edit{
  cursor: pointer;
}
.hycontentitem-edit:hover{
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
.hycontentitem-edit .close-s{
    position: absolute;
    right: -2px;
    top:-2px;
}
.hycontentitem .close-s{
   display: none;
}

.hycontentitem-edit .item-div,.hycontentitem .item-div{
    display: inline-block;
    margin-right:15px;
    margin-left:15px;
}
.hycontentitem-edit .item-overflow,.hycontentitem .item-overflow{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  width:-moz-calc(100% - 40px);
  width:-webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}
.hycontentitem-edit .item-div:last-child,.hycontentitem .item-div:last-child,.hycontentitem-edit .item-div:nth-child(2),.hycontentitem .item-div:nth-child(2){
  margin-right:15px;
  margin-left:20px;
}

.hycontentitem-new{
  padding-top: 7px;
  width:176px;
  height: 34px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 0px;
  margin: 5px 8px;
  display: inline-block;
  cursor: pointer;
  float: left;
}

.hycontentitem-new:hover{
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.349019);
}
.hycontentitem-new .item-div div{
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
  vertical-align: top;
}

.hycontentitem-new .item-div{
  margin-left: 20px;
}

.hycontentitem-new .item-div img{
  display: inline-block;
  margin-top:-5px;
  margin-right: 10px;
}

.new-addIcon{
  height: 100%;
  width: auto;
  color:#CCC;
}
.new-addWord{
  height: 100%;
  width: auto;
}
.new-addIcon .fa{
  font-size: 20px;
}

.new-addIcon .fa:hover,.new-addIcon .active{
  color:#666;
}

