//桌态图样式
.Musingtableview {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0 10px 10px 10px !important;
  overflow: hidden;

  .roomContainsStatus {
    width: 100%;
    height: 43px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 180px;

    .roomContainsStatus-menu {
      display: flex;

      .AreaDIV {
        min-width: 130px;
        padding: 0 10px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #1652BE;

        .span-1 {
          display: flex;
          width: 80%;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 20px !important;
          font-weight: 700;
          color: white;
        }
        .span-2 {
          display: flex;
          width: 20%;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 20px !important;
          font-weight: 700;
          color: white;
        }
      }

      .AreaDIV:hover {
        border-bottom: 1px solid @color-button-active;
      }

      .selectedItem {
        border-bottom: 4px solid @color-button-active  !important;
      }
    }

    .roomContainsStatus-total {
      .label-memoFlg {
        align-items: center;
        padding-right: 0px;
        justify-content: center;
        font-size: 20px !important;
        font-weight: 700 !important;
      }

      .memoFlg {
        margin: 0px 10px;
      }

      .groupTyp {
        align-items: center;
        justify-content: center;
        margin: 0px 20px;

        >label {
          align-items: center;
          justify-content: center;
          font-size: 20px !important;
          font-weight: 700;
          padding-left: 20px;
        }
      }

    }
  }

  .tableDiv-wrap {
    display: flex;

    .floor {
      background-color: #F6F6F6;
      width: 170px;

      .floor-item {
        display: flex;
        justify-content: space-around;

        .span-first-child {
          width: 80px;
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          font-size: 18px !important;
          font-weight: 600;
          text-align: left;
        }

        .span-last-child {
          width: 90px;
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          font-size: 18px !important;
          font-weight: 600;
          text-align: right;
        }
      }

      .floor-item:hover {
        border-left: 1px solid @color-button-active;
      }

      .selecte-floor {
        background-color: #fff;
        border-left: 4px solid @color-button-active  !important;

      }
    }

    //桌台
    .tableDiv {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: self-start;
      align-content: start;
      padding: 10px 0 20px 10px;

      .HyTableItemComUsing {
        // position: relative;
        display: block !important;
        padding: 0px 5px;
        .title-Div {
          display: block !important;
          font-size: 18px !important;
          font-weight: 700;
        }

        .font-head {
          // position: absolute;
          // top:0;
          // left: 10px;
          text-align: left;
          width: auto !important;
        }
      }

      .HyTableItemComUsing.block_stus_1,
      .HyTableItemComUsing.block_stus_0 {
        .item1 {
          // position: absolute;
          // left: 10px;
          // top: 25px;
          width: auto !important;
          justify-content: flex-start;
        }

        .item2 {
          text-align: center;
        }

        .item3 {
          text-align: center;
        }

        .item4 {
          text-align: center;
        }

        .item5 {
          text-align: center;
        }
      }
    }
  }



  .postableview-scroll {
    height: calc(~'100vh - 150px');
    flex-grow: 1;
    display: flex;
  }

  .itemComs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }

  .seq-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 5px;
    .seq-title {
      border-left: 5px solid #f9833a;
      font-size: 22px !important;
      font-weight: 600;
      height: 24px;
      align-items: center;
      display: flex;
      margin: 0px 5px;
      padding-left: 5px;
    }

    .seq-comItems {
      display: flex;
      flex-wrap: wrap;
    }
  }

}