@import '../../../base/color.less';

.Musing_opentable {

  .titleHead {
    border-left: 5px solid @menu-left-border;
    padding: 4px 4px;
    font-size: 20px !important;
    line-height: 1;
    font-weight: 600;
    margin: 10px 0px;
  }

  .getCom {
    min-height: 200px;
    border-top: 1px solid #dedede;
  }

  .item-div {
    width: 216px;
    height: 100px;
    cursor: pointer;
    background-color: #f2f2f2;
    margin: 5px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div> {
      font-size: 20px !important;
      font-weight: 700;
    }
  }

  .selected {
    border: 2px solid #1652BE;
  }

  .selectedioc {
    position: absolute;
    bottom: 0.4px;
    right: 0px;
  }


  .point-notitle {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px!important;
    font-weight: 600;
  }
}