//桌态图样式
.Mpostableview {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0 10px 10px 10px !important;
  overflow: hidden;
  .roomContainsStatus {
    width: 100%;
    height: 43px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    .roomContainsStatus-menu{
      display: flex;
      .AreaDIV {
        min-width: 130px;
        padding: 0 10px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span{
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 20px!important;
          font-weight: 700;
        }
      }

      .AreaDIV:hover {
        border-bottom: 1px solid @color-button-active;
      }

      .selectedItem {
        border-bottom: 4px solid @color-button-active!important;
      }
    }
    .roomContainsStatus-total{
      padding-right: 15px;
      span{
        font-size: 18px!important;
        font-weight: 700;
        line-height: 43px;
      }
    }
  }

  .tableDiv-wrap{
    display: flex;
    .floor{
      background-color: #F6F6F6;
      .floor-item {
        width: 105px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-size: 20px!important;
        font-weight: 700;
      }
      .floor-item:hover{
        border-left: 1px solid @color-button-active;
      }
      .selecte-floor{
        background-color: #fff;
        border-left: 4px solid @color-button-active!important;

      }
    }
    //桌台
    .tableDiv {
      display: flex;
      flex-wrap: wrap;
      align-items: self-start;
      align-content: start;
      padding: 10px 0 20px 10px;
      .HyTableItemCom{
        // position: relative;
        display: block!important;
        padding: 0px 5px;
        .title-Div{
          display: block!important;
          font-size: 20px!important;
          font-weight: 700;
        }
        .font-head{
          // position: absolute;
          // top:0;
          // left: 10px;
          text-align: left;
          width: auto!important;
        }
      }
      .HyTableItemCom.block_stus_1,.HyTableItemCom.block_stus_0{
        .item1{
          // position: absolute;
          // left: 10px;
          // top: 25px;
          width: auto!important;
          justify-content: flex-start;
        }
        .item2{
          text-align: center;
        }
        .item3{
          text-align: center;
        }
        .item4{
          text-align: center;
        }
        .item5{
          text-align: center;
        }
      }
    }
  }



  .postableview-scroll{
    height: calc(~'100vh - 93px');
    flex-grow: 1;
    display: flex;
  }

}