@import '../../base/color';


.LoginView-loginpage {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei', 'sans-serif';
  background-color: #F6F8F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  .version {
    position: fixed;
    bottom: 30px;
    right: 70px;
    font-size: 14px;
    font-weight: 900;
    color: #999;
  }

  .hyhotelbaselogincom>.logo {
    width: 100%;
    height: 66px;
    margin-bottom: 20px;
  }

  .hyhotelbaselogincom>.logo.zh_cn {
    background: url('../../../images/login_zh_cn.png') no-repeat center;
  }

  .hyhotelbaselogincom>.logo.ja_jp {
    background: url('../../../images/login_ja_jp.png') no-repeat center;
  }

  .hyhotelbaselogincom>h1 {
    font-size: 20px;
    font-weight: 400;
    color: #58595A;
    text-align: center;
    margin-bottom: 12px;
  }

  .hyhotelbaselogincom>.login-form-item {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(88, 89, 90, .5);
    margin-bottom: 16px;
  }

  .hyhotelbaselogincom>.login-form-itemDrop {
    width: 100%;
    height: 40px;
    border-bottom: 0px solid rgba(88, 89, 90, .5);
    margin-bottom: 16px;
  }

  .hyhotelbaselogincom>.login-form-item>input {
    width: 100%;
    height: 100%;
    color: rgba(88, 89, 90, 1);
    border: 0;
  }

  .hyhotelbaselogincom>.login-form-item>input::-webkit-input-placeholder {
    color: rgba(88, 89, 90, .5);
  }

  .hyhotelbaselogincom>.login-form-item>input::-moz-placeholder {
    color: rgba(88, 89, 90, .5);
  }

  .hyhotelbaselogincom>.login-form-item>input:-moz-placeholder {
    color: rgba(88, 89, 90, .5);
  }

  .hyhotelbaselogincom>.login-form-item>input:-ms-input-placeholder {
    color: rgba(88, 89, 90, .5);
  }

  .hyhotelbaselogincom>.login-form-item.actions {
    height: auto;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hyhotelbaselogincom>.login-form-item.actions .action-item {
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    float: left;
  }

  .hyhotelbaselogincom>.login-form-item.actions .action-item.library {
    margin-left: 30px;
    margin-right: 0;
  }

  .hyhotelbaselogincom>.login-form-item.actions .action-item.remember.active::before {
    background: url('../../../images/loginChecked.png') no-repeat center;
  }

  .hyhotelbaselogincom>.login-form-item.actions .action-item.library.active::before {
    background: url('../../../images/loginCheckRadio.png') no-repeat center;
  }

  .hyhotelbaselogincom>.login-form-item.actions .action-item::before {
    content: '';
    width: 14px;
    height: 14px;
    background: url('../../../images/loginCheck.png') no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .hyhotelbaselogincom>.login-btn {
    text-align: center;
    border: none;
    margin: 0;
  }

  .hyhotelbaselogincom>.login-btn>button {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: @color-button;
    color: #fff;
  }

  .groupinput {
    padding: 5px 0px;
  }

  .groupinput .text-input input {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px !important;
  }


}




/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .loginpage-public-image {
    width: 50%;
    height: 600px;
    background: url('../../../images/login.png') no-repeat;
    background-size: 100% 100%;
  }
  .loginpage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 70px 0px rgba(0, 0, 0, 0.16);
    .loginpage-login {
      width: 50%;
      height: 600px;
    }
  }

  .hyhotelbaselogincom {
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    color: rgba(88, 89, 90, .5);
  }

  .copyright{
    color: #999;
    position: relative;
    bottom: -10px;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .loginpage-public-image {
    width: 613px;
    height: 600px;
    background: url('../../../images/login.png') no-repeat center;
    float: left;
  }
  .loginpage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 70px 0px rgba(0, 0, 0, 0.16);
    .loginpage-login {
      width: 486px;
      height: 600px;
      float: left;
    }
  }
  .hyhotelbaselogincom {
    background-color: #fff;
    padding: 50px 80px 40px 80px;
    font-size: 14px;
    color: rgba(88, 89, 90, .5);
  }
  .copyright{
    color: #999;
    position: relative;
    bottom: -10px;
  }
 }
