.addpackage {
 //overflow-y: scroll;
 //-webkit-overflow-scrolling : touch;
  .pack_msg {
  margin-left:0px;
  margin-top:0px;
  display: flex;
  align-items: center;
}

.P-class {
  font-size: 17px;
  font-weight: 700;
}

.ui.segment.segment-header{
  padding: 0px;
  height: auto;
}

.pack_msg .lineH {
  width: 4px;
  background-color: darkorange;
  height: 16px;
  margin-right: 8px;
}
  .pack_msg .msg_info {
    display: block;
    &>p{
      display: inline;
      margin-right: 20px;
      font-size: 22px!important;
      font-weight: 700;
    }
  }

  .ui.horizontal.segments.Comprehensive{
    width: 100%;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    border: none;
    height: 380px;
  }

  .ui.horizontal.segments.Comprehensive .Comprehensive_left{
    padding: 0;
    background-color: @background-interaction-normal;
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  .ui.horizontal.segments.Comprehensive .Comprehensive_right {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0;

  }

  .sum{

    &>p{
      &>span{
        margin-right: 20px;
      }
    }
    .totals{
      display: flex;
      flex-grow: 1;
      height: 40px;
      max-height: 100px;
    }
  }

  .sum .account{
    display: inline-block;
    font-size: 25px!important;
    font-weight: 700;
    margin: 0px 100px 5px 0px;

  }

  .sum .totalInfo{
    //height: 30px;
    overflow: auto;
    span{
        margin-right: 20px;
      font-size: 20px!important;
      font-weight: 700;
      }
  }

  .container{
    //margin-left:10px;
    width:100%;
    //height:240px;
    //max-height:240px;
    overflow-y: auto;
    //padding-bottom: 15px;
  }
  @media (min-width: 768px) {
    .container .cardGroup .ui.card {
      //width: 45%!important;
      width: calc(~'50% - 14px') !important;
      transform: translateY(0px) !important;
      margin: 0.275em 0.4em!important;
    }
  }
  @media (max-width: 768px) {
    .container .cardGroup .ui.card{
      //width: 45%!important;
      width: calc(~'93%')!important;
      transform: translateY(0px)!important;
      margin: 0.275em 0.4em!important;
    }
  }

  .container .cardGroup .ui.card .content.cardContent{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #BDD7EE;
    font-size: 14px;
    padding: 0px 0px 5px 0px;

    //padding-left: 10px;
    //padding-right: 10px;
    &>div:nth-child(2){
      display: inline;
      font-size: 12px;
      font-weight: 700;
    }

  }
  .HyItemContent .cardContent .description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 20px!important;
    font-weight: 700;
  }
  .HyItemContent .ui.card .hybtninputcom{
    width: auto;
    padding-right:0;
  }

  .HyItemContent .ui.card .cardContent > div{
    justify-content: center;
    //height: 20px;
  }

  .HyItemContent .ui.card .cardContent .button{
    display: inline;
    width: 50px!important;
    height: 50px!important;
    background-color: transparent;
    border: 0px;
  }

  .HyItemContent .ui.card .cardContent .button i.icon14{
    width: 20px !important;
    height: 20px !important;
    background-size: 20px 20px;
  }

  .selected-btn.ui.button{
    background-color: @color-button-active!important;
    color: #fff!important;
    padding: 2px 5px!important;
    margin: 3px 23px!important;
    height: 20px!important;
    border-radius: 0!important;
  }

  .submitCount .hybtninputcom {
    //margin-top: 5px;
    &>.ui.input{
      width: 50px !important;
      height: auto;
    }
  }

  .hybtninputcom .ui.input, .hybtninputcom .ui.input.pkgsBtnInput {
    //margin-top: 8px;
    width: 60px !important;
    height: auto;
  }

  .hybtninputcom .ui.input input {
    height: 50px;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: 20px!important;
  }

  i.icon50 {
    width: 50px !important;
    height: 50px !important;
    margin: 0;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    opacity: 1;
  }
  @media (min-width: 768px) {
    .subchangetable-content-bottom {
      height: 355px;
      width: 100%;
      display: flex;
      flex-grow: 1;
      .tableDiv-wrap {
        height: 245px;
        .tableDiv {
          display: flex;
          width: 100%;
          //max-height: 355px;
          flex-wrap: wrap;
          overflow-y: auto;
          padding-bottom: 15px;
          .HyTableItemCom {
            width: calc(~'33% - 10px') !important;
            height: 80px;
            text-align: center;
            .font-head {
              //font-size: 12px !important;
              white-space: normal;
              word-break: break-all;
              overflow: hidden;
              //font-weight: normal;
              //width: 112px;
              //font-size: 25px!important;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .subchangetable-content-bottom{
      height: 355px;
      width: 100%;
      display: flex;
      flex-grow: 1;
      .tableDiv-wrap{
        height: 245px;
        .tableDiv{
          display: flex;
          width: 100%;
          //max-height: 355px;
          flex-wrap: wrap;
          overflow-y: auto;
          padding-bottom: 15px;
          .HyTableItemCom{
            width: calc(~'29.6%')!important;
            height: 69px;
            text-align: center;
            .font-head{
              //font-size: 12px!important;
              white-space: normal;
              word-break: break-all;
              overflow: hidden;
              //font-weight: normal;
              width: 90px;
              font-size: 25px!important;
              font-weight: 700;
            }
          }
        }
      }}
  }

  .end-right {
    display: flex;
    flex-direction: row;
  }

  .end-view {
    width: 165px;
    border-left: 1px solid #dadada;
  }
  @media (min-width: 768px) {
    .end-view {
      height: 355px;
      display: flex;
      flex-grow: 1;
      .tableDiv-wrap {
        height: 245px;
        .tableDiv {
          width: 100%;
          //max-height: 355px;
          flex-wrap: wrap;
          overflow-y: auto;
          padding-bottom: 15px;
          .HyTableItemCom {
            width: 120px;
            height: 69px;
            text-align: center;
            .font-head {
              //font-size: 12px !important;
              white-space: normal;
              word-break: break-all;
              overflow: hidden;
              //font-weight: normal;
              width: 120px;
              //font-size: 25px!important;
              font-weight: 700;
              //height: 69px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .end-view {
      height: 355px;
      display: flex;
      flex-grow: 1;
      .tableDiv-wrap{
        height: 355px;
        .tableDiv{
          width: 100%;
          //max-height: 355px;
          flex-wrap: wrap;
          overflow-y: auto;
          padding-bottom: 15px;
          .HyTableItemCom{
            width: 105px;
            height: 69px;
            text-align: center;
            .font-head{
              //font-size: 12px!important;
              white-space: normal;
              word-break: break-all;
              overflow: hidden;
              //font-weight: normal;
              width: 105px;
              font-size: 25px!important;
              font-weight: 700;
              //height: 69px;
            }
          }
        }
      }
    }
  }
}
