.dimmer_alert {
  background-color:rgba(0, 0, 0, 0.55) !important;
  > .content {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .ui.card{
    width: 330px;

  }
  .over_flow{
    width: 230px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  .card_top {
    padding:0 !important;
    position: relative;
    .alert_content_top {
      padding: 20px 10px;
      height: 100px;
      display: flex;
      width: 332px;
      border-radius: 3px;
      position: relative;
      top: -1px;
      left: -1px;
      ::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: #fff;
      }
      .alert_content_top_right{
        color:#fff;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        height: 70px;
        justify-content: space-between;
        .font18{
          font-size: 18px !important;
        }
        .font14{
          font-size: 14px !important;
        }
        span{
          padding-bottom: 8px;
          text-align: left;
        }

      }
    }
    .icon20.img358{
      position: absolute;
      top: 10px;
      right: 10px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .card_bottom{
    padding: 0 0 8px 0 !important;
    background-color: #fff;
    color:#000;
    .alert_content {
      height: 80px;
      padding: 8px ;
      text-align: left;
      max-height: 110px;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      line-height: 18px;
      &::-webkit-scrollbar {
        width:2px;
      }
    }
  }
}