.HyBottomCom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 30px;
  height: 100%;

  .LeftCom {}

  .RightCom {}

  .ui.label {
    color: @background-interaction-normal  !important;
  }

}