.HyDoubleTreeCom{
  margin-top: -1px!important;
  margin-bottom: 0!important;
  border-radius: 0!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: none!important;
  height: auto;
  width: 100%;
  .tree-left{
    min-height: 250px;
    margin: 0 auto;
    flex-grow: 0;
    width: 45%!important;
  }
  .tree-right{
    min-height: 250px;
    margin: 0 auto;
    flex-grow: 0;
    width: 45%!important;
  }
  .operate-btn{
    button{
      padding: 0!important;
    }
    display: flex;
    flex-direction: column;
    flex-grow: 0!important;
    width: 10%!important;
    justify-content: space-around;
  }
}

