//菜单组件
.HyFoodMenuCom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  //查询的样式
  .queryDiv {
    display: flex;
    flex-direction: row;

    .queryInput {
      width: 80%;
    }

    .queryBtn {
      height: 28px;
      padding: 0px 10px;
      background-color: transparent !important;
      border: 0px !important;
    }
  }

  //菜单类型组件
  .HyMenuOperation {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin: 3px 0px;


    .HyMenuOperation-content {
      width: 680px;
      display: flex;
      flex-direction: row;
      overflow: hidden
    }

    .movebtn {
      width: 40px;
      height: 50px;
      background-color: transparent !important;
      color: black !important;
      margin: 0;
      padding: 0px;
      border: 0px !important;
    }

    //单个菜单样式
    .MenuItem {
      min-width: 118px;
      height: 50px;
      background-color: @block_stus_free;
      margin: 0px 4px;
      justify-content: center;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    //菜单选中项
    .activeItem {
      background-color: @color-button;
    }
  }

  //菜单显示样式
  .MenuContent {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    padding: 6px 0px;
    flex-wrap: wrap;
    align-content: start;

    //单个菜单样式
    .MenuDIV {
      width: 107px;
      height: 60px;
      padding: 5px 0px;
      background-color: @block_stus_free;
      cursor: pointer;
      text-align: center;
      margin: 5px 5px;
      flex-wrap: wrap;
      position: relative;

      //菜单已点数量
      .MenuSum {
        width: auto;
        min-width: 19px;
        height: 19px;
        background-color: red;
        color: #FFF;
        border-radius: 23px;
        position: absolute;
        top: -4px;
        right: -4px;
      }

      .Menu-Clear {
        width: 35px;
        height: 35px;
        position: absolute;
        top: -3px;
        left: -2px;
        opacity: 0.7;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-image: url('../../../images/ico/295-1.png');
        transform: rotate(-40deg);
      }
    }
  }


}