/*
页签切换组件样式
*/
@import '../../base/color.less';
.hypageChangeCom{
  display: flex;
  margin: 0px 10px!important;
  flex-direction: row;
  background-color:@background-active;
  align-items: center;
  justify-content: center;
  justify-items: center;

  .pageItem{
    height: 50px;
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    cursor: pointer;
  }:nth-child(2){
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
  }
  .selectedItem{
    border-bottom: 4px solid @topmenu-border-active;
  }
}

