@import '../../base/color.less';



.systemTopComColor_1 {
  background-color: @systemTopComColor_1  !important;
}

.systemTopComColor_2 {
  background-color: @systemTopComColor_2  !important;
}


.HyTopCom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 30px;





  .zh_cn {
    width: 50px;
    height: 50px;
    background-image: url('../../../images/login_zh_cn.png');
    background-size: 50px 50px;
  }

  .ja_jp {
    width: 50px;
    height: 50px;
    background-image: url('../../../images/login_ja_jp.png');
    background-size: 50px 50px;
  }

  .ui.icon.button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0px;
    height: 50px;
  }

  .ui.label>.icon {
    margin: 0px 5px 0px 0px;
  }

  .LeftCom {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .RightCom {
    display: flex;
  }


  .ui.label {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: white !important;
    align-items: center;
    display: flex;
  }

  .salesPointTotal {
    cursor: pointer;
  }



  .search {
    height: 28px;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 10px !important;
  }


  ._out {
    background-color: #f59d56 !important;
    color: white !important;
    height: 40px;
    font-weight: 700 !important;
    cursor: pointer;
  }


  .ui.label.salesPointTotal:active {
    color: @topBottom_font_active  !important;
  }
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  i.icon25.img6 {
    display: none;
  }

  i.icon25.img5 {
    display: none;
  }

  i.icon25.img8 {
    display: none;
  }

  .fastOpen {
    width: 100px;
    margin-right: 5px;
  }

  .HyTopCom {
    padding: 0px 30px 0px 0px !important;
  }
}



/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  i.icon25.img6 {
    display: block;
  }

  i.icon25.img5 {
    display: block;
  }

  i.icon25.img8 {
    display: block;
  }

  .fastOpen {
    width: 200px;
    margin-right: 10px;
  }
}